<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
	<title></title>
		<ul id="sidebar-form:j_idt16" class="layout-menu">
			<li id="sidebar-form:om_homepage" role="menuitem" class="layout-root-menuitem"><div class="layout-menuitem-root-text">Master</div> <a
				href=""><em class="fas fa-layer-group layout-menuitem-icon"></em><span class="layout-menuitem-text">Masters</span><em
					class="pi pi-chevron-down layout-submenu-toggler"></em></a>
				<ul role="menu">
					<li id="sidebar-form:om_dashboard" role="menuitem"><a href="../../master/vehicle/vehiclemaster.xhtml"><em
							class="fa fa-truck layout-menuitem-icon"></em><span class="layout-menuitem-text">Vehicle Master</span></a></li>
							
					<li id="sidebar-form:om_dashboard" role="menuitem"><a href="../../master/employee/employeeMaster.xhtml"><em
							class="fa fa-user-o layout-menuitem-icon"></em><span class="layout-menuitem-text">Employee Master</span></a></li>
							
					<li id="sidebar-form:om_dashboard" role="menuitem"><a href="../../master/customer/customerMaster.xhtml"><em
							class="fa fa-user-plus layout-menuitem-icon"></em><span class="layout-menuitem-text">Customer Master</span></a></li>
							
					<li id="sidebar-form:om_dashboard" role="menuitem"><a href="../../master/itemmaster/itemMaster.xhtml"><em
							class="fa fa-list layout-menuitem-icon"></em><span class="layout-menuitem-text">Item Master</span></a></li>
				</ul></li>
			<li class="menu-separator"></li>
			<li id="sidebar-form:om_components" role="menuitem" class="layout-root-menuitem"><div class="layout-menuitem-root-text">Billing</div>
				<a href=""><em class="fas fa-scroll layout-menuitem-icon"></em><span class="layout-menuitem-text">Billing</span><em
					class="pi pi-chevron-down layout-submenu-toggler"></em></a>
				<ul role="menu">
					<li id="sidebar-form:om_formlayout" role="menuitem"><a href="../../billing/dc/dc.xhtml"><em
							class="fas fa-receipt layout-menuitem-icon"></em><span class="layout-menuitem-text">DC</span></a></li>	
								
					<li id="sidebar-form:om_formlayout" role="menuitem"><a href="../../billing/report/dcallocation.xhtml"><em
							class="fas fa-truck-loading layout-menuitem-icon"></em><span class="layout-menuitem-text">DC Allocation</span></a></li>
							
					<li id="sidebar-form:om_formlayout" role="menuitem"><a href="../../billing/dc/officeitem.xhtml"><em
							class="fas fa-dolly layout-menuitem-icon"></em><span class="layout-menuitem-text">Office Item</span></a></li>	
								
					<li id="sidebar-form:om_formlayout" role="menuitem"><a href="../../billing/report/dctransfer.xhtml"><em
							class="fa fa-exchange layout-menuitem-icon"></em><span class="layout-menuitem-text">DC Transfer</span></a></li>
							
					<li id="sidebar-form:om_formlayout" role="menuitem"><a href="../../billing/report/dccollection.xhtml"><em
							class="fas fa-clipboard-check layout-menuitem-icon"></em><span class="layout-menuitem-text">DC Collection</span></a></li>
				</ul></li>
				<li class="menu-separator"></li>
			<li id="sidebar-form:om_components" role="menuitem" class="layout-root-menuitem"><div class="layout-menuitem-root-text">Report</div>
				<a href=""><em class="fas fa-newspaper layout-menuitem-icon"></em><span class="layout-menuitem-text">Report</span><em
					class="pi pi-chevron-down layout-submenu-toggler"></em></a>
				<ul role="menu">
					<li id="sidebar-form:om_formlayout" role="menuitem"><a href="../../report/masterreport/masterreportview.xhtml"><em
							class="fas fa-table layout-menuitem-icon"></em><span class="layout-menuitem-text">Master Report</span></a></li>	
					<li id="sidebar-form:om_formlayout" role="menuitem"><a href="../../report/monthlyreport/monthlyreportview.xhtml"><em
							class="fas fa-calendar-day layout-menuitem-icon"></em><span class="layout-menuitem-text">Monthly Report</span></a></li>			
				</ul></li>
		
		</ul>
	<script id="sidebar-form:j_idt16_s" type="text/javascript">
		$(function() {
			PrimeFaces.cw("Arasu", "arasuMenuWidget", {
				id : "sidebar-form:j_idt16",
				statefulScroll : true
			});
		});
	</script>
</h:head>
</html>