<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"	responsive="true" width="350">
		<p:commandButton value="No" type="button"	styleClass="ui-confirmdialog-no ui-button-flat" />
		<p:commandButton value="Yes" type="button"	styleClass="ui-confirmdialog-yes" />
	</p:confirmDialog>
</ui:composition>

