<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<p:growl id="growlsuccess" severity="info" life="2000" showDetail="true" widgetVar="growlsuccess">
		<p:autoUpdate />
	</p:growl>
	<p:growl id="growlerror" escape="false" severity="fatal,error,warn"	showDetail="true" sticky="true" widgetVar="growlerror" >
		<p:autoUpdate />
	</p:growl>
</ui:composition>

