<ui:composition template="/pages/layout/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

	<ui:define name="title">
		#{itemProps['item.title']}
	</ui:define>

	<ui:define name="content">
		<p:tabView id="item_master_tabview_id" activeIndex="1" >
		<p:tab id="item_history_tab_id" title="#{itemProps['item.tab.title.history.details']}">
				<p:panelGrid id="customer_update_details_panelgrid_id" layout="grid" columns="1" columnClasses="p-col-12 p-md-12"
					styleClass="ui-panelgrid-blank ui-fluid card">
					<p:dataTable id="item_history_itemdattable" scrollable="true" scrollHeight="400" value="#{itemMasterController.getAllItems()}"
						rowIndexVar="indexVar" var="itemlist" resizableColumns="true"
						styleClass="ui-datatable ui-widget ui-datatable-scrollable ui-datatable-striped ui-datatable-sm ui-datatable-gridlines ">
						<p:column headerText="S.No" width="25" styleClass="center">
							<p:outputLabel value="#{indexVar+1}"></p:outputLabel>
						</p:column>
						<p:column headerText="#{itemProps['item.name']}" styleClass="left" filterBy="#{itemlist.itemName}" filterMatchMode="contains">
							<p:commandLink actionListener="#{itemMasterController.getItemDetails(itemlist.id)}" process="#{p.component('item_history_itemdattable')}"
								update="#{p.component('item_master_tabview_id')}">
								#{itemlist.itemName}
							</p:commandLink>
						</p:column>
						<p:column headerText="#{itemProps['item.print.name']}" styleClass="left" filterBy="#{itemlist.itemPrintName}" filterMatchMode="contains">
							<p:outputLabel value="#{itemlist.itemPrintName}"></p:outputLabel>
						</p:column>
						<p:column headerText="#{itemProps['item.type']}" styleClass="left"
							filterBy="#{itemMasterController.getItemTypeMasterDetails(itemlist.itemTypeMaster.id)}" filterMatchMode="contains">
							<p:outputLabel value="#{itemMasterController.getItemTypeMasterDetails(itemlist.itemTypeMaster.id)}"></p:outputLabel>
						</p:column>
					</p:dataTable>
				</p:panelGrid>
			</p:tab>
		
			<p:tab id="item_detail_tab_id" title="#{itemProps['item.tab.title.item.details']}">
				<div class="ui-fluid">
					<p:outputPanel id="main_outputpanel_id">
						<p:focus for="input_itemname_id"></p:focus>
						<p:panelGrid columns="2" id="item_manipanel_id" columnClasses="p-col-12 p-md-8,p-col-12 p-md-4" layout="grid"
							styleClass="ui-panelgrid-blank ui-fluid">
							<p:panelGrid id="item_details_panelgrid_id" columns="4" layout="grid"
								columnClasses="p-col-12 p-md-2,p-col-12 p-md-4,p-col-12 p-md-2,p-col-12 p-md-4" styleClass="ui-panelgrid-blank ui-fluid">

								<p:outputLabel id="label_itemname_id" value="#{itemProps['item.name']}" for="@next"></p:outputLabel>
								<p:inputText id="input_itemname_id" styleClass="capitalize" value="#{itemMasterBean.itemMaster.itemName}" required="true">
									<p:ajax event="blur" listener="#{itemMasterController.checkItemIsAvailable}" process="@this" update="@this"></p:ajax>
								</p:inputText>

								<p:outputLabel id="label_itemprintname_id" value="#{itemProps['item.print.name']}" for="@next"></p:outputLabel>
								<p:inputText id="input_itemprintname_id" value="#{itemMasterBean.itemMaster.itemPrintName}" required="true">
									<p:ajax event="blur" process="@this" update="@this"></p:ajax>
								</p:inputText>
								<p:outputLabel id="label_itemtype_id" value="#{itemProps['item.type']}" for="@next"></p:outputLabel>
								<p:selectOneMenu id="input_itemtype_id" autoWidth="false" value="#{itemMasterBean.itemMaster.itemTypeMaster}" required="true"
									converter="#{itemTypeConverter}">
									<f:selectItem itemLabel="#{itemProps['item.select.type']}" noSelectionOption="true"></f:selectItem>
									<f:selectItems value="#{itemMasterBean.itemTypeMasterTOs}" var="itemtype" itemLabel="#{itemtype.itemTypeName}"
										itemValue="#{itemtype}"></f:selectItems>
									<p:ajax event="valueChange" process="@this"></p:ajax>
								</p:selectOneMenu>

							</p:panelGrid>
							<p:panelGrid id="item_update_details_panelgrid_id" layout="grid" columns="1" columnClasses="p-col-12"
								styleClass="ui-panelgrid-blank ui-fluid card">

								<p:outputLabel id="label_itemnameupdate_id" value="#{itemProps['item.name']}" for="@next"></p:outputLabel>
								<p:autoComplete id="input_itemnameupdate_id" converter="#{itemMasterConverter}" forceSelection="true" scrollHeight="250"
									completeMethod="#{itemMasterController.itemNameSuggestion}" value="#{itemMasterBean.selectedItemMaster}" var="item"
									itemLabel="#{item.itemName}" itemValue="#{item}" emptyMessage="No Item Found..!">
									<p:ajax event="itemSelect" listener="#{itemMasterController.getItemDetailsById}" process="@this"
										update="#{p.component('main_outputpanel_id')}"></p:ajax>
								</p:autoComplete>
							</p:panelGrid>
						</p:panelGrid>
					</p:outputPanel>
				</div>
				<div class="align-right">

					<p:commandButton value="Clear" process="#{p.component('main_outputpanel_id')}" update="#{p.component('main_outputpanel_id')}">
					</p:commandButton>

					<p:commandButton value="Submit" actionListener="#{itemMasterController.saveOrUpdateItemDetails}"
						update="#{p.component('main_outputpanel_id')}"></p:commandButton>
				</div>
			</p:tab>
		</p:tabView>
	</ui:define>
</ui:composition>