<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:p="http://primefaces.org/ui">
<h:head>
	<ui:include src="/pages/layout/header/header.xhtml"></ui:include>
	<title><ui:insert name="title">
		</ui:insert></title>
</h:head>
<h:body>
	<div class="layout-wrapper layout-sidebar-darkgray layout-slim" data-theme="darkgray">
		<div class="layout-sidebar">
			<a class="logo active-route"> <img id="app-logo" src="../../../resource/images/logo-white.png" alt="" class="logo-image" />
			</a>
			<div class="layout-menu-container">
				<h:form id="sidebar-form" enctype="application/x-www-form-urlencoded">
					<ui:include src="/pages/layout/menu/menu.xhtml"></ui:include>
				</h:form>
			</div>
		</div>

		<div class="layout-content-wrapper">
			<div class="layout-topbar">
				<div class="topbar-left">
					<a tabindex="0" class="menu-button"> <em class="pi pi-chevron-left"></em>
					</a> <span class="topbar-separator"></span> <span class="viewname"><ui:insert name="title">
						</ui:insert></span><img id="logo-mobile" src="../../../resource/images/logo-dark.png" alt="" class="mobile-logo" />
				</div>

				<div class="topbar-right">
					<ul class="topbar-menu">
						<li><a tabindex="0"> <em style="font-weight: bold;"> <p:outputLabel value="#{userSession.branchMasterTO.branchName}"></p:outputLabel></em>
						</a></li>
						<li class="profile-item"><a tabindex="0">
							<p:avatar styleClass="p-mr-2" size="xlarge" shape="circle">
									<p:graphicImage	value="#{userSession.loginTO.employeeMaster.employeePhoto}" />
							</p:avatar> 
							<span class="profile-name"><p:outputLabel
										value="#{userSession.loginTO.employeeMaster.employeeName}"></p:outputLabel></span> </a>
							<ul class="profile-menu">
								<li onclick="logout();return false;"><a tabindex="0"> <em class="fa fa-sign-out"></em> <span>Logout</span>
								</a></li>
							</ul></li>
					</ul>
				</div>

			</div>
			<div class="layout-content">
				<h:form id="content-form_id">
					<p:remoteCommand name="logout" actionListener="#{loginController.logout}" update="content-form_id" process="@this" global="false"></p:remoteCommand>
					<ui:insert name="content">
					</ui:insert>
					<ui:include src="/pages/common/alert/confirmdialog.xhtml"></ui:include>
					<ui:include src="/pages/common/alert/growl.xhtml"></ui:include>
					<ui:include src="/pages/common/loader/loader.xhtml"></ui:include>
<!-- 					<ui:include src="/pages/extension/park/parkData.xhtml"></ui:include> -->
					<ui:include src="/pages/extension/sessiontimeout/_sessiontimeout.xhtml"></ui:include>
				</h:form>
			</div>

			<div class="layout-footer">
				<div class="footer-logo-container">
					<img id="footer-logo" src="../../../resource/images/logo-dark.png" alt="" /> <span class="app-name">Billing</span>
				</div>
				<span class="copyright">© Arasu Regular Service - 2020</span>
			</div>
		</div>

	</div>
</h:body>

</html>