<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
				xmlns:f="http://java.sun.com/jsf/core" 
				xmlns:p="http://primefaces.org/ui"
				xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<div class="card">
		<p:schedule id="schedule" value="#{scheduler.eventModel}" widgetVar="myschedule" locale="#{scheduler.locale}" aspectRatio="#{scheduler.aspectRatio}" 
		            timeZone="#{scheduler.timeZone}" clientTimeZone="#{scheduler.clientTimeZone}"
                    rightHeaderTemplate="dayGridMonth,timeGridWeek,timeGridDay,listYear"
                    showWeekends="#{scheduler.showWeekends}" tooltip="#{scheduler.tooltip}" allDaySlot="#{scheduler.allDaySlot}"
                    timeFormat="#{scheduler.timeFormat}" slotDuration="#{scheduler.slotDuration}"
                    slotLabelInterval="#{scheduler.slotLabelInterval}" scrollTime="#{scheduler.scrollTime}"
                    minTime="#{scheduler.minTime}" maxTime="#{scheduler.maxTime}"
                    columnHeaderFormat="#{scheduler.columnHeaderFormat}" >
			<p:ajax event="dateSelect" listener="#{scheduler.onDateSelect}" update="eventDetails" oncomplete="PF('eventDialog').show();" />
			<p:ajax event="eventSelect" listener="#{scheduler.onEventSelect}" update="eventDetails" oncomplete="PF('eventDialog').show();" />
			<p:ajax event="eventMove" listener="#{scheduler.onEventMove}"  />
			<p:ajax event="eventResize" listener="#{schedulerw.onEventResize}" />
		</p:schedule>
		<ui:include src="/pages/dashboard/board/_eventdialog.xhtml"></ui:include>
	</div>
</ui:composition>