<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
				xmlns:f="http://java.sun.com/jsf/core" 
				xmlns:p="http://primefaces.org/ui"
				xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
				
	<div class="card">
	
		<p:dialog widgetVar="eventDialog" header="Event Details" showEffect="fade" hideEffect="fade" >
	
			<p:panelGrid id="eventDetails" columns="2" cellpadding="7" styleClass="ui-panelgrid-blank ui-fluid">
				<p:outputLabel for="title" value="Titles" styleClass="p-text-bold" />
				<p:inputText id="title" value="#{scheduler.event.title}" required="true" />

				<p:outputLabel for="from" value="From" styleClass="p-text-bold" />
				<p:datePicker id="from" value="#{scheduler.event.startDate}" pattern="dd/MM/yyyy" showTime="true" appendTo="@(body)" />

				<p:outputLabel for="to" value="To" styleClass="p-text-bold" />
				<p:datePicker id="to" value="#{scheduler.event.endDate}" pattern="dd/MM/yyyy" showTime="true" appendTo="@(body)" />

				<p:outputLabel for="description" value="All Day" styleClass="p-text-bold" />
				<p:inputTextarea id="description" value="#{scheduler.event.description}" />
			</p:panelGrid>
			
			<div class="p-d-flex p-jc-between p-mt-3">
				<p:commandButton type="reset" value="Reset" styleClass="p-text-bold ui-button-outlined" />
				<p:commandButton id="addButton" value="Save" action="#{scheduler.addEvent}" oncomplete="PF('myschedule').update();PF('eventDialog').hide();" />
			</div>
	
		</p:dialog>
	
	</div>

</ui:composition>