<ui:composition template="/pages/layout/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="content">
		<p:tabView id="dashboard_tabview_id">
			<p:tab id="dashboard_calendar_tab_id" title="Calendar">
				<ui:include src="/pages/dashboard/board/_calendar.xhtml"></ui:include>
			</p:tab>
		</p:tabView>
	</ui:define>
</ui:composition>