<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
				xmlns:f="http://java.sun.com/jsf/core" 
				xmlns:p="http://primefaces.org/ui"
				xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<p:panelGrid id="dc_collection_details_panel" columns="1" layout="grid" columnClasses="p-col-12 p-md-12" styleClass="ui-panelgrid-blank ui-fluid">
	  	<p:commandLink id="pdf" value="Export" >
        	<p:dataExporter type="xlsxstream" target="dc_allocated_details_dattable" fileName="dcDetails" exportHeader="true"/>
    	</p:commandLink>
		<p:dataTable id="dc_allocated_details_dattable" rows="25" currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords} records"
			rowsPerPageTemplate="5,10,20,30,50,{ShowAll|'All'}" paginator="true" paginatorPosition="bottom" value="#{bean.dcList}" rowIndexVar="indexVar"
			var="dclist" resizableColumns="true" rowKey="#{dclist.id}" widgetVar="dc_collection_details_panel" draggableRows="true" size="small"
			styleClass="ui-datatable ui-widget  ui-datatable-striped ui-datatable-sm ui-datatable-gridlines" sortMode="multiple">

			<f:facet name="header"> 
       			 <p:commandButton id="toggler" type="button" icon="pi pi-align-justify" style="width: 30px;"/>
				<p:columnToggler datasource="dc_allocated_details_dattable" trigger="toggler" />
			</f:facet>


			<p:column headerText="S.No" width="30" exportable="true">
				<p:outputLabel value="#{indexVar+1}"></p:outputLabel>
			</p:column>
			<p:column headerText="#{dcProps['billing.dc.no']}" width="60" styleClass="center" filterBy="#{dclist.dCNo}" filterMatchMode="contains" sortBy="#{dclist.dCNo}">
				<p:outputLabel value="#{dclist.dCNo}"></p:outputLabel>
			</p:column>
			
			<p:column headerText="#{dcProps['billing.dc.date']}" styleClass="center" sortBy="#{dclist.dCNo}" filterBy="#{dclist.dCNo}" filterMatchMode="equals" exportable="false" >
				<p:outputLabel value="#{dateUtil.dateToStringConverter(dclist.dCDate)}">
				</p:outputLabel>
			</p:column>
			<p:column headerText="Driver Name" styleClass="center" sortBy="#{dclist.allocatedDriverName}" filterBy="#{dclist.allocatedDriverName}" filterMatchMode="contains" exportable="false">
				<p:outputLabel value="#{dclist.allocatedDriverName}"></p:outputLabel>
			</p:column>
			<p:column headerText="#{loginProps['login.branch']}" styleClass="center" sortBy="#{dclist.branchName}" filterBy="#{dclist.branchName}" filterMatchMode="contains" exportable="false">
				<p:outputLabel value="#{dclist.branchName}"></p:outputLabel>
			</p:column>
			<p:column headerText="#{dcProps['billing.dc.from.party.name']}" styleClass="left" sortBy="#{dclist.fromCustomerName}" filterBy="#{dclist.fromCustomerName}" filterMatchMode="contains" >
				<p:outputLabel value="#{dclist.fromCustomerName}"></p:outputLabel>
			</p:column>
			<p:column headerText="#{dcProps['billing.dc.from.party.city']}" styleClass="left" sortBy="#{dclist.fromCityName}" filterBy="#{dclist.fromCityName}" filterMatchMode="contains" exportable="false">
				<p:outputLabel value="#{dclist.fromCityName}"></p:outputLabel>
			</p:column>
			<p:column headerText="#{dcProps['billing.dc.to.party.name']}" styleClass="left" sortBy="#{dclist.toCustomerName}" filterBy="#{dclist.toCustomerName}" filterMatchMode="contains">
				<p:outputLabel value="#{dclist.toCustomerName}"></p:outputLabel>
			</p:column>
			<p:column headerText="#{dcProps['billing.dc.to.party.city']}" styleClass="left" sortBy="#{dclist.toCityName}" filterBy="#{dclist.toCityName}" filterMatchMode="contains">
				<p:outputLabel value="#{dclist.toCityName}"></p:outputLabel>
			</p:column>
			<p:column headerText="#{dcProps['billing.dc.item.name']}" styleClass="left" sortBy="#{dclist.itemNames}" filterBy="#{dclist.itemNames}" filterMatchMode="contains">
				<p:outputLabel value="#{dclist.itemNames}" styleClass="wrap-text"></p:outputLabel>
			</p:column>
			<p:column headerText="#{dcProps['billing.dc.item.qty']}" styleClass="right" sortBy="#{dclist.totalNoOfQty}" filterBy="#{dclist.totalNoOfQty}" filterMatchMode="contains">
				<p:outputLabel value="#{dclist.totalNoOfQty}"></p:outputLabel>
			</p:column>
			<p:column headerText="Amount" styleClass="right" filterBy="#{dclist.amount}" sortBy="#{dclist.amount}"  exportable="false">
				<p:outputLabel value="#{dclist.amount}"></p:outputLabel>
			</p:column>
			<p:column headerText="Other Charges Details" styleClass="left wrap-text" sortBy="#{dclist.otherChargesDetails}" filterBy="#{dclist.otherChargesDetails}" filterMatchMode="contains" exportable="false">
				<p:outputLabel value="#{dclist.otherChargesDetails}"></p:outputLabel>
			</p:column>
			<p:column headerText="Other Charges " styleClass="right" sortBy="#{dclist.otherChargesAmount}" filterBy="#{dclist.otherChargesAmount}" filterMatchMode="contains" exportable="false">
				<p:outputLabel value="#{dclist.otherChargesAmount}">
					<f:convertNumber currencySymbol="" type="currency" />
				</p:outputLabel>
			</p:column>
			<p:column headerText="Net Amount" styleClass="right" sortBy="#{dclist.netAmount}" filterBy="#{dclist.netAmount}" filterMatchMode="contains" >
				<p:outputLabel id="netamount" value="#{dclist.netAmount}">
					<f:convertNumber currencySymbol="" type="currency" />
				</p:outputLabel>
			</p:column>
			<p:column headerText="DC Status" styleClass="center" sortBy="#{dCController.getDCStatus(dclist.rowStatus)}" filterBy="#{dCController.getDCStatus(dclist.rowStatus)}" filterMatchMode="contains" exportable="false">
				<p:outputLabel value="#{dCController.getDCStatus(dclist.rowStatus)}"></p:outputLabel>
			</p:column>
			<p:column headerText="Delivery By" styleClass="left" sortBy="#{dclist.deliveryByName}" filterBy="#{dclist.deliveryByName}" filterMatchMode="contains" exportable="false">
				<p:outputLabel	value="#{dclist.deliveryByName}"></p:outputLabel>
			</p:column>			
			<p:column headerText="Delivery Status" styleClass="center" sortBy="#{dCController.getDCDeliveryStatus(dclist.deliveryStatus)}" filterBy="#{dCController.getDCDeliveryStatus(dclist.deliveryStatus)}" filterMatchMode="contains" exportable="false">
				<p:outputLabel	value="#{dCController.getDCDeliveryStatus(dclist.deliveryStatus)}"></p:outputLabel>
			</p:column>
			<p:column headerText="Amount Received By" styleClass="left" sortBy="#{dclist.amountReceivedByName}" filterBy="#{dclist.amountReceivedByName}" filterMatchMode="contains" exportable="false">
				<p:outputLabel	value="#{dclist.amountReceivedByName}"></p:outputLabel>
			</p:column>
			<p:column headerText="Payment Status" styleClass="center" sortBy="#{dCController.getPaymentStatus(dclist.receivedAmount)}" filterBy="#{dCController.getPaymentStatus(dclist.receivedAmount)}" filterMatchMode="contains" exportable="false">
				<p:outputLabel	value="#{dCController.getPaymentStatus(dclist.receivedAmount)}"></p:outputLabel>
			</p:column>
		</p:dataTable>
	</p:panelGrid>
</ui:composition>
	