<ui:composition template="/pages/layout/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

	<ui:define name="title">
		Master Report
	</ui:define>

	<ui:define name="content">
		<p:tabView id="masterreport_tabview_id" widgetVar="masterreport_tabview_id">
			<p:tab id="masterreport_tab_id" title="#{dcProps['billing.dc.allocation.tab.title']}">
				<ui:include src="../../../pages/billing/report/_reportfilter.xhtml">
					<ui:param name="bean" value="#{masterReportBean}"></ui:param>
					<ui:param name="controller" value="#{masterReportController}"></ui:param>
				</ui:include>
				
				<div class="align-right">
					<p:commandButton value="Search" onclick="searchRemtCommand()" type="button" process="@this" />
					<p:remoteCommand name="searchRemtCommand" actionListener="#{masterReportController.getDCList}" process="#{p.component('masterreport_tab_id')}"
						update="#{p.component('dc_collection_details_panel')}" onsuccess="PF('masterreport_tabview_id').select(1)"/>
				</div>
			</p:tab>
			<p:tab id="dc_details_tab_id" title="DC Details">
				<ui:include src="/pages/report/masterreport/_dclist.xhtml">
					<ui:param name="bean" value="#{masterReportBean}"></ui:param>
					<ui:param name="controller" value="#{masterReportController}"></ui:param>
					<ui:param name="isRendered" value="true"></ui:param>
				</ui:include>
			</p:tab>
		</p:tabView>
	</ui:define>
</ui:composition>
