<ui:composition template="/pages/layout/template/template.xhtml" 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:p="http://primefaces.org/ui" 
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

	<ui:define name="title">
		#{dcProps['billing.dc.title']}
	</ui:define>

	<ui:define name="content">
		<p:remoteCommand autoRun="true" process="@this" update="#{p.component('dc_tabview_id')}" actionListener="#{dCController.redirectDC}"></p:remoteCommand>
		<p:tabView id="dc_tabview_id" activeIndex="1" onTabChange="if(index==0){getDCList();}">
			<p:tab id="dc_history_tab_id" title="#{dcProps['billing.dc.history.tab.title']}">
				<p:remoteCommand name="getDCList" process="@this" update="#{p.component('dc_history_itemdattable')}" actionListener="#{dCController.getDCList}"></p:remoteCommand>
				<p:panelGrid id="customer_update_details_panelgrid_id" layout="grid" columns="1" columnClasses="p-col-12 p-md-12"
					styleClass="ui-panelgrid-blank ui-fluid card">
					<p:panelGrid id="customer_details_panelgrid_id" columns="3" layout="grid" columnClasses="p-col-12 p-md-1,p-col-12 p-md-3,p-col-12 p-md-1"
						styleClass="ui-panelgrid-blank ui-fluid">
						<p:outputLabel id="label_customernameupdate_id" value="#{dcProps['billing.dc.no']}" for="@next"></p:outputLabel>
						<p:inputText id="input_dcnoupdate_id" value="#{dCBean.searchDCNo}" padControl="false" onfocus="select()" maxlength="4"
							onkeyup="if(event.which ==13){return false;}">
							<p:ajax event="keyup" process="@this"></p:ajax>
							<p:keyFilter mask="num" />
						</p:inputText>
						<p:commandButton id="dc_search_button" value="Search" type="button" onclick="dcSearchRemoteCommand();return false;">
							<p:defaultCommand target="dc_search_button" scope="customer_details_panelgrid_id"></p:defaultCommand>
						</p:commandButton>
						<p:remoteCommand name="dcSearchRemoteCommand" process="@this" update="#{p.component('dc_history_itemdattable')}"
							actionListener="#{dCController.getDCList}"></p:remoteCommand>
					</p:panelGrid>
					<p:dataTable id="dc_history_itemdattable" scrollable="true" scrollHeight="350" value="#{dCBean.dCList}" rowIndexVar="indexVar" var="dclist"
						resizableColumns="true" styleClass="ui-datatable ui-widget ui-datatable-scrollable ui-datatable-striped ui-datatable-sm ui-datatable-gridlines ">
						<p:column headerText="S.No" width="25" styleClass="center">
							<p:outputLabel value="#{indexVar+1}"></p:outputLabel>
						</p:column>
						<p:column headerText="#{dcProps['billing.dc.no']}" styleClass="center" filterBy="#{dclist.dCNo}" filterMatchMode="contains">
							<p:commandLink actionListener="#{dCController.getDCDetailsById(dclist.id)}" process="#{p.component('dc_history_itemdattable')}"
								value="#{dclist.dCNo}" update="#{p.component('dc_tabview_id')}">
							</p:commandLink>
						</p:column>
						<p:column headerText="#{dcProps['billing.dc.date']}" styleClass="center" filterBy="#{dclist.dCDate}" filterMatchMode="contains">
							<p:outputLabel value="#{dateUtil.dateToStringConverter(dclist.dCDate)}"></p:outputLabel>
						</p:column>
						<p:column headerText="#{dcProps['billing.dc.from.party.name']}" styleClass="left" filterBy="#{dclist.fromCustomerMaster.customerName}"
							filterMatchMode="contains">
							<p:outputLabel value="#{dclist.fromCustomerMaster.customerName}"></p:outputLabel>
						</p:column>
						<p:column headerText="#{dcProps['billing.dc.to.party.name']}" styleClass="left" filterBy="#{dclist.toCustomerMaster.customerName}"
							filterMatchMode="contains">
							<p:outputLabel value="#{dclist.toCustomerMaster.customerName}"></p:outputLabel>
						</p:column>
						<p:column headerText="DC Status" styleClass="center">
							<p:outputLabel value="#{dCController.getDCStatus(dclist.rowStatus)}"></p:outputLabel>
						</p:column>
						<p:column headerText="Delivery Status" styleClass="center">
							<p:outputLabel value="#{dCController.getDCDeliveryStatus(dclist.deliveryStatus)}"></p:outputLabel>
						</p:column>
						<p:column headerText="Payment Status" styleClass="center">
							<p:outputLabel value="#{dCController.getPaymentStatus(dclist.receivedAmount)}"></p:outputLabel>
						</p:column>
						<p:column headerText="Created By" styleClass="left" filterBy="#{dclist.createUser.employeeName}"
							filterMatchMode="contains">
							<p:outputLabel value="#{dclist.createUser.employeeName}"></p:outputLabel>
						</p:column>
					</p:dataTable>
				</p:panelGrid>
			</p:tab>
			<p:tab id="dc_detail_tab_id" title="#{dcProps['billing.dc.tab.title']}">
				<div class="ui-fluid">
				<!-- <p:panelGrid>
					<ui:param name="updateIdList" value="main_outputpanel_id"></ui:param>
					<ui:param name="voucherCodeParam" value="1"></ui:param>
					<ui:param name="currentBeanState" value="#{dCBean}"></ui:param>
					<ui:param name="UIContainerForm" value="main_outputpanel_id"></ui:param>
					<ui:param name="transactionField" value="currentDCRunningNumber"></ui:param>
				</p:panelGrid> -->
					<p:outputPanel id="main_outputpanel_id">
						<p:focus for="input_frompartyname_id"></p:focus>
						<p:panelGrid id="dc_details_panelgrid_id" columns="4" layout="grid" columnClasses="p-col-12 p-md-1,p-col-12 p-md-3,p-col-12 p-md-1,p-col-12 p-md-3"
							styleClass="ui-panelgrid-blank ui-fluid">

							<p:outputLabel id="label_dcno_id" value="#{dcProps['billing.dc.no']}" for="@next"></p:outputLabel>
							<p:inputText id="input_dcno_id" value="#{dCController.currentDCRunningNumber}" disabled="true">
							</p:inputText>
							
							<p:outputLabel id="label_dcdate_id" value="#{dcProps['billing.dc.date']}" for="@next"></p:outputLabel>
							<p:calendar id="input_dcdate_id" value="#{dCBean.dcData.dc.dCDate}" maxdate="#{dCBean.maxDate}" pattern="dd/MM/yyyy">
								<p:ajax event="dateSelect" process="@this" update="@this"></p:ajax>
							</p:calendar>

							<p:outputLabel id="label_frompartyname_id" value="#{dcProps['billing.dc.from.party.name']}" for="@next"></p:outputLabel>
							<p:autoComplete id="input_frompartyname_id" cache="true" converter="#{customerMasterConverter}"  minQueryLength="3"
								completeMethod="#{dCController.customerNameSuggestionList}" value="#{dCBean.dcData.dc.fromCustomerMaster}" var="fromcustomer"
								itemLabel="#{fromcustomer.customerName}" itemValue="#{fromcustomer}" forceSelection="true" scrollHeight="250">
								<p:column headerText="Customer Name">
									<h:outputText value="#{fromcustomer.customerName}" />
								</p:column>
								<p:column headerText="Print Name">
									<h:outputText value="#{fromcustomer.customerPrintName}" />
								</p:column>
								<p:column headerText="Mobile No">
									<h:outputText value="#{fromcustomer.mobileNumber}" />
								</p:column>
								<p:column headerText="City">
									<h:outputText value="#{fromcustomer.cityMaster.cityName}" />
								</p:column>
								<p:ajax event="itemSelect" listener="#{dCController.getFromCustomerDetailsById}" process="@this" update="@this input_frompartycity_id"></p:ajax>
							</p:autoComplete>

							<p:outputLabel id="label_frompartycity_id" value="#{dcProps['billing.dc.from.party.city']}" for="@next"></p:outputLabel>
							<p:autoComplete id="input_frompartycity_id" disabled="#{dCBean.dcData.dc.fromCustomerMaster.id gt 0}" converter="#{cityConverter}"
								emptyMessage="No City Found..!" forceSelection="true" completeMethod="#{dCController.citysSuggestionList}" value="#{dCBean.fromCustomerCityMaster}"
								var="city" itemLabel="#{city.cityName}" itemValue="#{city}" scrollHeight="250">
								<p:ajax event="itemSelect" listener="#{dCController.setFromCityDetails}" process="@this" update="@this"></p:ajax>
							</p:autoComplete>

							<p:outputLabel id="label_topartyname_id" value="#{dcProps['billing.dc.to.party.name']}" for="@next"></p:outputLabel>
							<p:autoComplete id="input_topartyname_id" value="#{dCBean.dcData.dc.toCustomerMaster}" var="tocustomer" cache="true" minQueryLength="3"
								converter="#{customerMasterConverter}" completeMethod="#{dCController.customerNameSuggestionList}" itemLabel="#{tocustomer.customerName}"
								itemValue="#{tocustomer}" forceSelection="true" required="true" scrollHeight="250">
								<p:column headerText="Customer Name">
									<h:outputText value="#{tocustomer.customerName}" />
								</p:column>
								<p:column headerText="Print Name">
									<h:outputText value="#{tocustomer.customerPrintName}" />
								</p:column>
								<p:column headerText="Mobile No">
									<h:outputText value="#{tocustomer.mobileNumber}" />
								</p:column>
								<p:column headerText="City">
									<h:outputText value="#{tocustomer.cityMaster.cityName}" />
								</p:column>
								<p:ajax event="itemSelect" listener="#{dCController.getToCustomerDetailsById}" process="@this"
									update="@this input_topartycity_id input_mobilenumber_id"></p:ajax>
							</p:autoComplete>

							<p:outputLabel id="label_tocustomercity_id" value="#{dcProps['billing.dc.to.party.city']}" for="@next"></p:outputLabel>
							<p:autoComplete id="input_topartycity_id" value="#{dCBean.dcData.dc.toCustomerMaster.cityMaster}" var="city" forceSelection="true"
								completeMethod="#{dCController.citysSuggestionList}" disabled="#{dCBean.dcData.dc.toCustomerMaster.id gt 0}" converter="#{cityConverter}"
								emptyMessage="No City Found..!" itemLabel="#{city.cityName}" itemValue="#{city}" required="true" scrollHeight="250">
								<p:ajax event="itemSelect" process="@this" update="@this"></p:ajax>
							</p:autoComplete>

							<p:outputLabel id="label_topartymobilenumber_id" value="#{dcProps['billing.dc.to.party.mobile.number']}" for="@next"></p:outputLabel>
							<p:inputMask id="input_mobilenumber_id" value="#{dCBean.dcData.dc.toCustomerMobileNumber}" mask="9*********" required="true">
								<!-- disabled="#{dCBean.dcData.dc.toCustomerMaster.id gt 0}"> -->
								<p:ajax event="blur" process="@this" update="@this"></p:ajax>
							</p:inputMask>

							<p:outputLabel id="label_remarks_id" value="#{dcProps['billing.dc.remarks']}" for="@next"></p:outputLabel>
							<p:inputTextarea id="input_remarks_id" value="#{dCBean.dcData.dc.remarks}" autoResize="false">
								<p:ajax event="blur" process="@this" update="@this"></p:ajax>
							</p:inputTextarea>

						</p:panelGrid>
						<p:panelGrid columns="1" id="dc_item_manipanel_id" columnClasses="p-col-12 p-md-5" layout="grid">
							<p:dataTable id="dc_itemdattable" scrollable="true" rowIndexVar="itemIndex" scrollHeight="200" value="#{dCBean.dcData.dcLine}" var="dcitem"
								styleClass="ui-datatable ui-widget ui-datatable-scrollable ui-datatable-striped ui-datatable-sm ui-datatable-gridlines ">
								<p:column style="text-align: center;" width="10">
									<p:commandLink id="removeitemLink" actionListener="#{dCController.removeDCLineItem(itemIndex)}" process="#{p.component('dc_itemdattable')}"
										update="#{p.component('dc_itemdattable')}">
										<em class="fa fa-times" style="color: red;"></em>
										<p:tooltip for="removeitemLink" value="Remove Item."></p:tooltip>
									</p:commandLink>
								</p:column>
								<p:column headerText="#{dcProps['billing.dc.item.name']}">
									<p:autoComplete id="input_dcitemsuggestion_id" cache="true" dynamic="true" forceSelection="true" converter="#{itemMasterConverter}"
										emptyMessage="No Item Found..!" completeMethod="#{dCController.itemNameSuggestion}" value="#{dcitem.itemMaster}" var="item"
										itemLabel="#{item.itemName}" itemValue="#{item}" scrollHeight="250">
										<p:ajax event="itemSelect" listener="#{dCController.addNewRow}" process="@this" update="#{p.component('dc_itemdattable')}"></p:ajax>
									</p:autoComplete>
								</p:column>
								<p:column headerText="#{dcProps['billing.dc.item.qty']}" width="30%" id="dcitemqtyid">
									<p:inputNumber value="#{dcitem.qty}" padControl="false" decimalPlaces="0" onfocus="select()" disabled="#{dcitem.itemMaster eq null}" modifyValueOnWheel="false">
										<p:ajax event="change" process="@this" update="#{p.component('dc_itemdattable')}"></p:ajax>
									</p:inputNumber>
								</p:column>
								<p:columnGroup type="footer">
									<p:row>
										<p:column></p:column>
										<p:column footerText="Totals Qty/Kg:" styleClass="right">
										</p:column>
										<p:column width="30%">
											<f:facet name="footer">
												<p:inputNumber id="totalfooterqty" onfocus="select()" value="#{dCController.totalNumberOfQty()}" disabled="true" padControl="false" modifyValueOnWheel="false"></p:inputNumber>
											</f:facet>
										</p:column>
									</p:row>
									<p:row>
										<p:column footerText="Amount:" styleClass="right" colspan="2">
										</p:column>
										<p:column width="30%">
											<f:facet name="footer">
												<p:inputNumber id="totalamount" value="#{dCBean.dcData.dc.amount}" padControl="false" onfocus="select()"  modifyValueOnWheel="false"
													onkeyup="if(event.which ==13){return false;}">
													<p:ajax event="keyup" listener="#{dCController.calculateTotalAmount}" update="netamount"></p:ajax>
												</p:inputNumber>
											</f:facet>
										</p:column>
									</p:row>
									<p:row>
										<p:column colspan="2">
											<f:facet name="footer">
												<p:panelGrid columns="2" columnClasses="p-col-12 p-md-6,p-col-12 p-md-6" layout="grid">
													<p:outputLabel value="Other Amount:" style="vertical-align: -webkit-baseline-middle;"></p:outputLabel>
													<p:inputText id="othertotalamountdtails" value="#{dCBean.dcData.dc.otherChargesDetails}" padControl="false">
														<p:ajax event="keyup" listener="#{dCController.otherCharges}" update="othertotalamount netamount"></p:ajax>
													</p:inputText>
												</p:panelGrid>
											</f:facet>
										</p:column>
										<p:column width="30%">
											<f:facet name="footer">
												<p:inputNumber id="othertotalamount" onfocus="select()" value="#{dCBean.dcData.dc.otherChargesAmount}" modifyValueOnWheel="false"
													disabled="#{empty dCBean.dcData.dc.otherChargesDetails}" padControl="false" onkeyup="if(event.which ==13){return false;}">
													<p:ajax event="keyup" listener="#{dCController.calculateTotalAmount}" update="netamount" ></p:ajax>
												</p:inputNumber>
											</f:facet>
										</p:column>
									</p:row>
									<p:row>
										<p:column footerText="Net Amount:" styleClass="right" colspan="2">
										</p:column>
										<p:column width="30%">
											<f:facet name="footer">
												<p:inputNumber id="netamount" onfocus="select()" value="#{dCBean.dcData.dc.netAmount}" padControl="false" disabled="true" modifyValueOnWheel="false"></p:inputNumber>
											</f:facet>
										</p:column>
									</p:row>
								</p:columnGroup>
							</p:dataTable>
						</p:panelGrid>
						<p:panelGrid id="dc_paymentmode_details_panelgrid_id" layout="grid" columns="3" columnClasses="p-col-12 p-md-3,p-col-12 p-md-2,p-col-12 p-md-1"
							styleClass="ui-panelgrid-blank ui-fluid">
							<p:selectOneRadio value="#{dCBean.dcData.dc.modeOfPay}" >
								<f:selectItems value="#{dCController.modeOfPay}" />
							</p:selectOneRadio>
							<p:selectBooleanCheckbox value="#{dCBean.dcData.dc.officeDelivery}" itemLabel="Is Office Delivery" disabled="#{dCBean.dcData.dc.officeDelivered}">
								<p:ajax update="#{p.component('dc_paymentmode_details_panelgrid_id')}"  />
							</p:selectBooleanCheckbox>
							<p:selectOneMenu value="#{dCBean.dcData.dc.officeId}" rendered="#{dCController.isOfficeItem()}">
								<f:selectItems value="#{dCController.getOfficeList()}" />
								<p:ajax process="@this"  />	
							</p:selectOneMenu>
						</p:panelGrid>
					</p:outputPanel>
				</div>
				<div class="align-left">
					<p:outputPanel id="commandbutton">
						<p:commandButton value="Clear" onclick="clearRemtCommand()" type="button" process="@this" icon="fas fa-eraser">
							<p:confirm header="Confirmation" message="Do you want to clear this DC?" icon="pi pi-info-circle" />
						</p:commandButton>
						<p:remoteCommand name="clearRemtCommand" actionListener="#{dCController.clear}" update="#{p.component('main_outputpanel_id commandbutton')}"
							process="@this" />
						<p:commandButton id="dc_submit" value="Submit" onclick="submitRemtCommand();" type="button" disabled="#{dCController.checkSubmit()}" icon="far fa-save">
							<p:defaultCommand target="dc_submit" scope="main_outputpanel_id"></p:defaultCommand>
						</p:commandButton>
						<p:remoteCommand name="submitRemtCommand" actionListener="#{dCController.saveOrUpdateDCDetails}"
							update="#{p.component('main_outputpanel_id commandbutton')}" />
						<p:commandButton value="Cancel" onclick="cancelRemtCommand();" type="button" disabled="#{dCController.checkSubmit()}" icon="fas fa-ban"
							rendered="#{dCBean.dcData.dc.id gt 0}" >
							 <p:confirm type="popup" header="Confirmation" message="Do you want to cancel this record?" icon="pi pi-info-circle"/>
							</p:commandButton>

						<p:remoteCommand name="cancelRemtCommand" actionListener="#{dCController.cancelDC}" update="#{p.component('main_outputpanel_id commandbutton')}" />
					</p:outputPanel>
				</div>
				<p:hotkey bind="return" handler="submitRemtCommand();" />
			</p:tab>
		</p:tabView>
	</ui:define>
</ui:composition>