<ui:composition template="/pages/layout/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

	<ui:define name="title">
		#{dcProps['billing.dc.office.item.title']}
	</ui:define>

	<ui:define name="content">
		<p:remoteCommand autoRun="true" name="getRemtCommand" actionListener="#{officeItemController.getDCList()}" update="#{p.component('dc_allocated_details_dattable')}" />
		<p:tabView id="tabview_office_item">
			<p:tab id="tab_recevied_office_item" title="#{dcProps['billing.dc.office.item.tab.title']}">
				<ui:include src="/pages/billing/report/_dclist.xhtml">
					<ui:param name="bean" value="#{officeItemBean}"></ui:param>
					<ui:param name="controller" value="#{officeItemController}"></ui:param>
					<ui:param name="isRendered" value="false"></ui:param>
				</ui:include>
				<div class="align-right">
					<p:commandButton value="Submit" onclick="submitRemtCommand();" type="button" />
					<p:remoteCommand name="submitRemtCommand" actionListener="#{officeItemController.saveRecivedOfficeItem}"
						update="#{p.component('dc_collection_details_panel')}" onsuccess="getRemtCommand();return false;"/>
				</div>
			</p:tab>
		</p:tabView>
	</ui:define>
</ui:composition>
