<ui:composition template="/pages/layout/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

	<ui:define name="title">
		Master Report
	</ui:define>

	<ui:define name="content">
		<p:tabView id="monthlyreport_tabview_id" widgetVar="masterreport_tabview_id">
			<p:tab id="monthlyreport_tab_id" title="#{dcProps['billing.dc.allocation.tab.title']}">
				<p:panelGrid id="monthlyreportcitypanel" columns="4" layout="grid" columnClasses="p-col-12 p-md-1,p-col-12 p-md-3,p-col-12 p-md-1,p-col-12 p-md-3"
					styleClass="ui-panelgrid-blank ui-fluid">

					<p:outputLabel for="@next" value="Month" />
        			<p:datePicker id="month" view="month" value="#{monthlyReportBean.selectedMonthYear}" pattern="MM/yyyy" yearNavigator="true" yearRange="2020:2100" required="true"/>
 
    

					<p:outputLabel id="label_customernameupdate_id"	value="#{customerProps['customer.name']}" for="@next"></p:outputLabel>
					<p:autoComplete id="input_customernameupdate_id" value="#{monthlyReportBean.customerMaster}" var="customer" converter="#{customerMasterConverter}" required="true"
						completeMethod="#{monthlyReportController.customerNameSuggestion}" emptyMessage="No Customer Found..!" forceSelection="true" scrollHeight="250" 
						itemLabel="#{customer.customerName}" itemValue="#{customer}" minQueryLength="3">
						<p:ajax event="itemSelect" process="@this" update="@this"></p:ajax>
					</p:autoComplete>
				</p:panelGrid>
				
				<div class="align-right">
					<p:commandButton value="Generate PDF" actionListener="#{monthlyReportController.getDCList}" process="#{p.component('monthlyreport_tab_id')}" update="#{p.component('monthlyreportcitypanel')}" ajax="false"/>
				</div>
			</p:tab>
			
		</p:tabView>
	</ui:define>
</ui:composition>
