<ui:composition template="/pages/layout/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

	<ui:define name="title">
		#{customerProps['customer.title']}
	</ui:define>

	<ui:define name="content">
		<p:tabView id="customer_master_tabview_id">
			<p:tab id="customer_detail_tab_id" title="#{customerProps['customer.tab.title']}">
				<div class="ui-fluid">
					<p:outputPanel id="main_outputpanel_id">
						<p:focus for="input_customername_id"></p:focus>
						<p:panelGrid columns="2" id="customer_manipanel_id" columnClasses="p-col-12 p-md-8,p-col-12 p-md-4" layout="grid"
							styleClass="ui-panelgrid-blank ui-fluid">
							<p:panelGrid id="customer_details_panelgrid_id" columns="4" layout="grid"
								columnClasses="p-col-12 p-md-2,p-col-12 p-md-4,p-col-12 p-md-2,p-col-12 p-md-4" styleClass="ui-panelgrid-blank ui-fluid">
								<p:outputLabel id="label_customername_id" value="#{customerProps['customer.name']}" for="@next"></p:outputLabel>
								<p:inputText id="input_customername_id" styleClass="capitalize" value="#{customerMasterBean.customerMaster.customerName}"
									required="true">
									<p:ajax event="blur" listener="#{customerMasterController.checkCustomerIsAvailable}" process="@this" update="@this"></p:ajax>
								</p:inputText>

								<p:outputLabel id="label_customerprintname_id" value="#{customerProps['customer.print.name']}" for="@next"></p:outputLabel>
								<p:inputText id="input_customerprintname_id" value="#{customerMasterBean.customerMaster.customerPrintName}" required="true">
									<p:ajax event="blur" process="@this" update="@this"></p:ajax>
								</p:inputText>

								<p:outputLabel id="label_customeraddress_id" for="@next" value="#{customerProps['customer.address']}"></p:outputLabel>
								<p:inputTextarea id="input_employeeaddress_id" value="#{customerMasterBean.customerMaster.customerAddress}" maxlength="300"
									required="true">
									<p:ajax event="blur" process="@this"></p:ajax>
								</p:inputTextarea>

								<p:outputLabel id="label_customercity_id" value="#{customerProps['customer.city']}"></p:outputLabel>
								<p:autoComplete id="input_customercity_id" converter="#{cityConverter}" emptyMessage="No City Found..!"
									completeMethod="#{cityMasterController.citysSuggestionList}" value="#{customerMasterBean.customerMaster.cityMaster}" var="city"
									itemLabel="#{city.cityName}" itemValue="#{city}" required="true">
									<p:ajax event="itemSelect" process="@this" update="@this"></p:ajax>
								</p:autoComplete>

								<p:outputLabel id="label_mobilenumber_id" value="#{customerProps['customer.mobile.number']}" for="@next"></p:outputLabel>
								<p:inputMask id="input_mobilenumber_id" mask="9*********" required="true" value="#{customerMasterBean.customerMaster.mobileNumber}">
									<p:ajax event="blur" process="@this" update="@this"></p:ajax>
								</p:inputMask>

								<p:outputLabel id="label_alternativemobilenumber_id" value="#{customerProps['customer.mobile.number']}" for="@next"></p:outputLabel>
								<p:inputMask id="input_alternativemobilenumber_id" mask="9*********"
									value="#{customerMasterBean.customerMaster.alternativeMobileNumber}">
									<p:ajax event="blur" process="@this" update="@this"></p:ajax>
								</p:inputMask>

								<p:outputLabel id="label_phonenumber_id" value="#{customerProps['customer.phone.number']}" for="@next"></p:outputLabel>
								<p:inputMask id="input_phonenumber_id" mask="9****-9*****" value="#{customerMasterBean.customerMaster.phoneNumber}">
									<p:ajax event="blur" process="@this" update="@this"></p:ajax>
								</p:inputMask>

							</p:panelGrid>
							<p:panelGrid id="customer_update_details_panelgrid_id" layout="grid" columns="1" columnClasses="p-col-12"
								styleClass="ui-panelgrid-blank ui-fluid card">

								<p:outputLabel id="label_customernameupdate_id" value="#{customerProps['customer.name']}" for="@next"></p:outputLabel>
								<p:autoComplete id="input_customernameupdate_id" converter="#{customerMasterConverter}" emptyMessage="No Customer Found..!"
									completeMethod="#{customerMasterController.customerNameSuggestion}" value="#{customerMasterBean.selectedCustomerMaster}"
									var="customer" itemLabel="#{customer.customerName}" itemValue="#{customer}">
									<p:ajax event="itemSelect" listener="#{customerMasterController.getCustomerDetailsById}" process="@this"
										update="#{p.component('main_outputpanel_id')}"></p:ajax>
								</p:autoComplete>
							</p:panelGrid>
						</p:panelGrid>
					</p:outputPanel>
				</div>
				<div align="right">

					<p:commandButton value="Clear" actionListener="#{customerMasterController.clearCustomerDetails}"
						process="#{p.component('main_outputpanel_id')}" update="#{p.component('main_outputpanel_id')}">
					</p:commandButton>

					<p:commandButton value="Submit" actionListener="#{customerMasterController.saveOrUpdateCustomerDetails}"
						update="#{p.component('main_outputpanel_id')}"></p:commandButton>
				</div>
			</p:tab>
		</p:tabView>
	</ui:define>
</ui:composition>