<ui:composition template="/pages/layout/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

	<ui:define name="title">
		#{vehicleProps['vehicle.title']}
	</ui:define>

	<ui:define name="content">
		<p:tabView id="vehicle_master_tabview_id" activeIndex="1">
		<p:tab id="vehicle_history_tab_id" title="#{vehicleProps['vehicle.tab.title.history.details']}">
				<p:panelGrid id="customer_update_details_panelgrid_id" layout="grid" columns="1" columnClasses="p-col-12 p-md-12"
					styleClass="ui-panelgrid-blank ui-fluid card">
					<p:dataTable id="vehicle_history_vehicledattable" scrollable="true" scrollHeight="400" value="#{vehicleMasterController.getAllVehicleDetails()}"
						rowIndexVar="indexVar" var="vehiclelist" resizableColumns="true"
						styleClass="ui-datatable ui-widget ui-datatable-scrollable ui-datatable-striped ui-datatable-sm ui-datatable-gridlines ">
						<p:column headerText="S.No" width="25" styleClass="center">
							<p:outputLabel value="#{indexVar+1}"></p:outputLabel>
						</p:column>
						<p:column headerText="#{vehicleProps['vehicle.no']}" styleClass="left" filterBy="#{vehiclelist.vehicleNumber}" filterMatchMode="contains">
							<p:commandLink actionListener="#{vehicleMasterController.getVehicleDetailsById(vehiclelist.id)}" process="#{p.component('vehicle_history_vehicledattable')}"
								update="#{p.component('vehicle_master_tabview_id')}">
								#{vehiclelist.vehicleNumber}
							</p:commandLink>
						</p:column>
						<p:column headerText="#{vehicleProps['vehicle.make.name']}" styleClass="center" filterBy="#{vehiclelist.vehicleModel}" filterMatchMode="contains">
							<p:outputLabel value="#{vehiclelist.vehicleModel}"></p:outputLabel>
						</p:column>
						<p:column headerText="#{vehicleProps['vehicle.owner.name']}" styleClass="left"
							filterBy="#{vehiclelist.vehicleOwnerName}" filterMatchMode="contains">
							<p:outputLabel value="#{vehiclelist.vehicleOwnerName}"></p:outputLabel>
						</p:column>
					</p:dataTable>
				</p:panelGrid>
			</p:tab>
			<p:tab id="vehicle_detail_tab_id" title="#{vehicleProps['vehicle.tab.title']}">
				<div class="ui-fluid">
					<p:outputPanel id="main_outputpanel_id">
						<p:focus for="input_vehicleno_id"></p:focus>
						<p:panelGrid columns="2" id="vehicle_manipanel_id" columnClasses="p-col-12 p-md-8,p-col-12 p-md-4" layout="grid"
							styleClass="ui-panelgrid-blank ui-fluid">
							<p:panelGrid id="vehicle_details_panelgrid_id" columns="4" layout="grid"
								columnClasses="p-col-12 p-md-2,p-col-12 p-md-4,p-col-12 p-md-2,p-col-12 p-md-4" styleClass="ui-panelgrid-blank ui-fluid">

								<p:outputLabel id="label_vehicleno_id" value="#{vehicleProps['vehicle.no']}" for="@next"></p:outputLabel>
								<p:inputText id="input_vehicleno_id" styleClass="capitalize" value="#{vehicleMasterBean.vehicleData.vehicleMaster.vehicleNumber}"
									maxlength="20" required="true">
									<p:ajax event="blur" listener="#{vehicleMasterController.checkVehicleIsAvailable}" process="@this" update="@this"></p:ajax>
								</p:inputText>

								<p:outputLabel id="label_vehiclemakename_id" value="#{vehicleProps['vehicle.make.name']}" for="@next"></p:outputLabel>
								<p:inputText id="input_vehiclemakename_id" styleClass="capitalize"
									value="#{vehicleMasterBean.vehicleData.vehicleMaster.vehicleMakeName}" required="true">
									<p:ajax event="blur" process="@this" update="@this"></p:ajax>
								</p:inputText>

								<p:outputLabel id="label_vehiclemodel_id" value="#{vehicleProps['vehicle.model']}" for="@next"></p:outputLabel>
								<p:inputText id="input_vehiclemodel_id" value="#{vehicleMasterBean.vehicleData.vehicleMaster.vehicleModel}" required="true" thousandSeparator="" 
									maxlength="4" maxValue="9999">
									<p:ajax event="blur" process="@this" update="@this"></p:ajax>
									<p:keyFilter mask="num" />
								</p:inputText>

								<p:outputLabel id="label_vehicleownerename_id" value="#{vehicleProps['vehicle.owner.name']}" for="@next"></p:outputLabel>
								<p:inputText id="input_vehicleownername_id" styleClass="capitalize"
									value="#{vehicleMasterBean.vehicleData.vehicleMaster.vehicleOwnerName}" required="true">
									<p:ajax event="blur" process="@this" update="@this"></p:ajax>
								</p:inputText>

								<p:outputLabel id="label_fcdate_id" value="#{vehicleProps['vehicle.fc.date']}" for="@next"></p:outputLabel>
								<p:calendar id="input_fcdate_id" value="#{vehicleMasterBean.vehicleData.vehicleMaster.fcDate}" pattern="dd/MM/yyyy"
								 required="true" navigator="true" showButtonPanel="true"  mask="true" >
									<p:ajax event="dateSelect" process="@this" update="@this"></p:ajax>
								</p:calendar>

								<p:outputLabel id="label_vehicletax_id" value="#{vehicleProps['vehicle.tax']}" for="@next"></p:outputLabel>
								<p:calendar id="input_vehicletax_id"  value="#{vehicleMasterBean.vehicleData.vehicleMaster.tax}"
									pattern="dd/MM/yyyy" required="true" navigator="true" showButtonPanel="true" mask="true">
									<p:ajax event="dateSelect" process="@this" update="@this"></p:ajax>
								</p:calendar>

								<p:outputLabel id="label_vehiclepermit_id" value="#{vehicleProps['vehicle.permit']}" for="@next"></p:outputLabel>
								<p:calendar id="input_vehiclepermit_id"  value="#{vehicleMasterBean.vehicleData.vehicleMaster.permit}"
									pattern="dd/MM/yyyy" required="true" showButtonPanel="true"  navigator="true" mask="true">
									<p:ajax event="dateSelect" process="@this" update="@this"></p:ajax>
								</p:calendar>

							</p:panelGrid>
							<p:panelGrid id="vehicle_update_details_panelgrid_id" layout="grid" columns="1" columnClasses="p-col-12"
								styleClass="ui-panelgrid-blank ui-fluid card">
								<p:outputLabel id="label_vehiclenameupdate_id" value="#{vehicleProps['vehicle.no']}"></p:outputLabel>
								<p:autoComplete id="input_vehiclenameupdate_id" converter="#{vehicleMasterConverter}" forceSelection="true" scrollHeight="250"
									completeMethod="#{vehicleMasterController.vehicleNumberSuggestion}" value="#{vehicleMasterBean.selectVehicleMaster}" var="vehicle"
									itemLabel="#{vehicle.vehicleNumber}" itemValue="#{vehicle}" emptyMessage="No Vehicle Found..!">
									<p:ajax event="itemSelect" listener="#{vehicleMasterController.getVehicleDetailsById}" process="@this"
										update="#{p.component('main_outputpanel_id')}"></p:ajax>
								</p:autoComplete>
							</p:panelGrid>
						</p:panelGrid>

						<p:panelGrid columns="1" id="insurance_details_manipanel_id" columnClasses="p-col-12 p-md-5" layout="grid">
							<p:dataTable id="insurancedatatable" scrollable="true" rowIndexVar="vehicleIndex" scrollHeight="200"
								value="#{vehicleMasterBean.vehicleData.insuranceDetails}" var="vehicle"
								styleClass="ui-datatable ui-widget ui-datatable-scrollable ui-datatable-striped ui-datatable-sm ui-datatable-gridlines ">
								<p:column headerText="#{vehicleProps['vehicle.insurance.no']}">
									<p:inputText value="#{vehicle.insuranceNumber}">
										<p:ajax event="change" process="@this" update="@this"></p:ajax>
									</p:inputText>
								</p:column>
								<p:column headerText="#{vehicleProps['vehicle.insurance.from.date']}" width="30%" id="lable_insurancefromdate_id">
									<p:calendar id="input_insurancefromdate_id" value="#{vehicle.fromDate}" pattern="dd/MM/yyyy" required="true">
										<p:ajax event="dateSelect" listener="#{vehicleMasterController.getInsuranceToDate(vehicleIndex)}" process="@this" update="@this input_insurancetodate_id"></p:ajax>
									</p:calendar>
								</p:column>
								<p:column headerText="#{vehicleProps['vehicle.insurance.to.date']}" width="30%" id="lable_insurancetodate_id">
									<p:calendar id="input_insurancetodate_id" value="#{vehicle.toDate}" pattern="dd/MM/yyyy" required="true" mindate="#{vehicle.fromDate}">
										<p:ajax event="dateSelect" process="@this" update="@this"></p:ajax>
									</p:calendar>
								</p:column>
							</p:dataTable>
							<div class="ui-g">
								<div class="ui-g-12">
									<p:commandButton value="Add New Row" styleClass="ui-priority-primary" process="@this" update="insurancedatatable"
										action="#{vehicleMasterBean.addRow}" />
								</div>
							</div>
						</p:panelGrid>
					</p:outputPanel>
				</div>
				<div class="align-right">

					<p:commandButton value="Clear" actionListener="#{vehicleMasterController.clear}" process="#{p.component('main_outputpanel_id')}"
						update="#{p.component('main_outputpanel_id')}">
					</p:commandButton>

					<p:commandButton value="Submit" actionListener="#{vehicleMasterController.saveOrUpdateVehicleDetails}"
						update="#{p.component('main_outputpanel_id')}"></p:commandButton>
				</div>
			</p:tab>
		</p:tabView>
	</ui:define>
</ui:composition>