<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" >
<h:head>
<title></title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<h:outputScript library="primefaces" name="jquery/jquery.js" />
	<h:outputScript library="primefaces" name="jquery/jquery-plugins.js" /> 
	<link type="text/css" rel="stylesheet" href="../../../resource/font/font-awesome-5.15.3/css/fontawesome.css" />
	<link type="text/css" rel="stylesheet" href="../../../resource/font/font-awesome-5.15.3/css/all.min.css" />
	<link type="text/css" rel="stylesheet" href="../../../resource/font/font-awesome-5.15.3/css/v4-shims.min.css" />
	<link type="text/css" rel="stylesheet" href="../../../resource/theme.css" />
	<link type="text/css" rel="stylesheet" href="../../../resource/components.css" />
	<script type="text/javascript" src="../../../resource/core.js"></script>
	<script type="text/javascript" src="../../../resource/components.js"></script>
	<script type="text/javascript" src="../../../resource/touch/touchswipe.js"></script>
	<link type="text/css" rel="stylesheet" href="../../../resource/css/primeflex.min.css" />
	<link type="text/css" rel="stylesheet" href="../../../resource/css/layout-light.css" />
	<link type="text/css" rel="stylesheet" href="../../../resource/css/primeicons.css" />
	<link type="text/css" rel="stylesheet" href="../../../resource/css/capitalize.css" />
	<link type="text/css" rel="stylesheet" href="../../../resource/css/loader/loader.css" />
	<script type="text/javascript" src="../../../resource/js/layout.js"></script>
	<link rel="icon" href="../../../resource/images/logo-dark.png" sizes="16x16" />
	
	<script type="text/javascript" src="../../../resource/js/capitalize.js"></script>
	
	<script type="text/javascript" src="../../../resource/js/storeddata.js"></script>
	
	
</h:head>
</html>