<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<p:ajaxStatus onstart="PF('loader').show()" onsuccess="PF('loader').hide()" delay="100" />
	<p:dialog id="loader" widgetVar="loader" closable="false" modal="true" draggable="false" showHeader="false" resizable="false"
		style="box-shadow: none;" styleClass="loader_content">
		<div class="lds-spinner">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</p:dialog>
</ui:composition>

