<ui:composition template="/pages/layout/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

	<ui:define name="title">
		#{employeeProps['employee.title']}
	</ui:define>

	<ui:define name="content">
		<p:tabView id="employee_master_tabview_id" activeIndex="1">
			<p:tab id="employee_history_tab_id" title="#{employeeProps['employee.tab.title.history.details']}">
				<p:panelGrid id="employee_history_details_panelgrid_id" layout="grid" columns="1" columnClasses="p-col-12 p-md-12"
					styleClass="ui-panelgrid-blank ui-fluid card">
					<p:dataTable id="employee_history_employeedattable" scrollable="true" scrollHeight="400"
						value="#{employeeMasterController.getAllEmployeeDetails()}" rowIndexVar="indexVar" var="employeelist" resizableColumns="true"
						styleClass="ui-datatable ui-widget ui-datatable-scrollable ui-datatable-striped ui-datatable-sm ui-datatable-gridlines ">
						<p:column headerText="S.No" width="25" styleClass="center">
							<p:outputLabel value="#{indexVar+1}"></p:outputLabel>
						</p:column>
						<p:column headerText="#{employeeProps['employee.name']}" styleClass="left" filterBy="#{employeelist.employeeName}"
							filterMatchMode="contains">
							<p:commandLink actionListener="#{employeeMasterController.getEmployeeDetailsById(employeelist.id)}"
								process="#{p.component('employee_history_employeedattable')}" update="#{p.component('employee_master_tabview_id')}">
								#{employeelist.employeeName}
							</p:commandLink>
						</p:column>
						<p:column headerText="#{employeeProps['employee.mobile.number']}" styleClass="left" filterBy="#{employeelist.mobileNumber}"
							filterMatchMode="contains">
							<p:outputLabel value="#{employeelist.mobileNumber}"></p:outputLabel>
						</p:column>
						<p:column headerText="#{employeeProps['employee.type']}" styleClass="left" filterBy="#{employeelist.cityMaster.cityName}"
							filterMatchMode="contains">
							<p:outputLabel value="#{employeelist.employeeType.employeeTypeName}"></p:outputLabel>
						</p:column>
					</p:dataTable>
				</p:panelGrid>
			</p:tab>
			<p:tab title="Employee Details">
				<div class="ui-fluid">
					<p:outputPanel id="main_outputpanel_id">
						<p:focus for="input_employeename_id"></p:focus>
						<p:panelGrid columns="2" id="employee_manipanel_id" columnClasses="p-col-12 p-md-8,p-col-12 p-md-4" layout="grid"
							styleClass="ui-panelgrid-blank ui-fluid">

							<p:panelGrid id="employee_details_panelgrid_id" columns="4" layout="grid"
								columnClasses="p-col-12 p-md-2,p-col-12 p-md-4,p-col-12 p-md-2,p-col-12 p-md-4" styleClass="ui-panelgrid-blank ui-fluid">

								<p:outputLabel id="label_employeename_id" value="#{employeeProps['employee.name']}" for="input_employeename_id"></p:outputLabel>

								<p:inputText id="input_employeename_id" styleClass="capitalize" value="#{employeeMasterBean.employeeData.employeeMaster.employeeName}"
									required="true">
									<p:ajax event="blur" listener="#{employeeMasterController.checkCustomerIsAvailable}" process="@this" update="@this"></p:ajax>
								</p:inputText>

								<p:outputLabel id="label_employeeaddress_id" value="#{employeeProps['employee.address']}"></p:outputLabel>
								<p:inputTextarea id="input_employeeaddress_id" styleClass="capitalize"
									value="#{employeeMasterBean.employeeData.employeeMaster.employeeAddress}" maxlength="250">
									<p:ajax event="blur" process="@this"></p:ajax>
								</p:inputTextarea>

								<p:outputLabel id="label_mobilenumber_id" value="#{employeeProps['employee.mobile.number']}" for="@next"></p:outputLabel>
								<p:inputMask id="input_mobilenumber_id" mask="9*********" required="true"
									value="#{employeeMasterBean.employeeData.employeeMaster.mobileNumber}">
									<p:ajax event="blur" process="@this" update="@this"></p:ajax>
								</p:inputMask>

								<p:outputLabel id="label_employeejoingdate_id" value="#{employeeProps['employee.joining.date']}"></p:outputLabel>
								<p:calendar id="input_employeejoingdate_id" pattern="dd-MM-yyyy" mask="true"
									value="#{employeeMasterBean.employeeData.employeeMaster.dateOfJoin}">
									<p:ajax event="dateSelect" process="@this" update="@this"></p:ajax>
								</p:calendar>

								<p:outputLabel id="label_aadhaarnumber_id" value="#{employeeProps['employee.aadhaar.number']}" for="@next"></p:outputLabel>
								<p:inputMask id="input_aadhaarnumber_id" mask="9*** **** ****"
									value="#{employeeMasterBean.employeeData.employeeMaster.aadhaarNumber}" required="true">
									<p:ajax event="blur" process="@this" update="@this"></p:ajax>
								</p:inputMask>

								<p:outputLabel id="label_employeetpe_id" value="#{employeeProps['employee.type']}"></p:outputLabel>
								<p:selectOneMenu id="input_employeetype_id" value="#{employeeMasterBean.employeeData.employeeMaster.employeeType}" required="true"
									converter="#{employeeTypeConverter}">
									<f:selectItem itemLabel="#{employeeProps['employee.type']}" noSelectionOption="true"></f:selectItem>
									<f:selectItems value="#{employeeMasterBean.employeeTypeTOs}" var="emptype" itemLabel="#{emptype.employeeTypeName}"
										itemValue="#{emptype}"></f:selectItems>
									<p:ajax event="itemSelect" process="@this" listener="#{employeeMasterController.checkEmployeeType}"
										update="employee_details_panelgrid_id"></p:ajax>
								</p:selectOneMenu>

								<p:outputLabel id="label_licensenumber_id" value="#{employeeProps['employee.license.number']}" for="@next"
									rendered="#{employeeMasterBean.employeeData.employeeMaster.employeeType.licenseAvailable}"></p:outputLabel>
								<p:inputMask id="input_licensenumber_id" mask="a*9*a9**********"
									value="#{employeeMasterBean.employeeData.employeeMaster.licenseNumber}"
									rendered="#{employeeMasterBean.employeeData.employeeMaster.employeeType.licenseAvailable}">

								</p:inputMask>

								<p:outputLabel id="label_licenserenewaldate_id" value="#{employeeProps['employee.license.renewal.date']}" for="@next"
									rendered="#{employeeMasterBean.employeeData.employeeMaster.employeeType.licenseAvailable}"></p:outputLabel>
								<p:calendar id="input_licenserenewaldate_id" pattern="dd-MM-yyyy" mask="true"
									value="#{employeeMasterBean.employeeData.employeeMaster.licenseRenewalDate}"
									rendered="#{employeeMasterBean.employeeData.employeeMaster.employeeType.licenseAvailable}"></p:calendar>

								<p:outputLabel id="label_username_id" value="#{loginProps['login.name']}" for="@next"
									rendered="#{employeeMasterBean.employeeData.employeeMaster.employeeType.loginAvailable}"></p:outputLabel>
								<p:inputText id="input_username_id" value="#{employeeMasterBean.employeeData.login.userName}" required="true" maxlength="10"
									immediate="true" requiredMessage="User Name Required.."
									rendered="#{employeeMasterBean.employeeData.employeeMaster.employeeType.loginAvailable}">
									<p:ajax event="blur" process="@this"></p:ajax>
								</p:inputText>

								<p:outputLabel id="label_password_id" value="#{loginProps['login.password']}" for="@next"
									rendered="#{employeeMasterBean.employeeData.employeeMaster.employeeType.loginAvailable}"></p:outputLabel>
								<p:password id="login_password" redisplay="true" value="#{employeeMasterBean.employeeData.login.password}" required="true"
									maxlength="10" immediate="true" requiredMessage="Password Required.."
									rendered="#{employeeMasterBean.employeeData.employeeMaster.employeeType.loginAvailable}">
									<p:ajax event="blur" process="@this"></p:ajax>
								</p:password>

							</p:panelGrid>
							<p:panelGrid id="employee_update_details_panelgrid_id" layout="grid" columns="1" columnClasses="p-col-12"
								styleClass="ui-panelgrid-blank ui-fluid card">

								<p:outputLabel id="label_employeenameupdate_id" value="#{employeeProps['employee.name']}" for="@next"></p:outputLabel>
								<p:autoComplete id="input_employeenameupdate_id" converter="#{employeeMasterConverter}" forceSelection="true" scrollHeight="250"
									completeMethod="#{employeeMasterController.employeeNameSuggestion}" value="#{employeeMasterBean.suggestionEmployeeMaster}" emptyMessage="No Employee Found..!"
									var="employee" itemLabel="#{employee.employeeName}" itemValue="#{employee}">
									<p:ajax event="itemSelect" listener="#{employeeMasterController.getEmployeeDetailsById}" process="@this"
										update="#{p.component('main_outputpanel_id input_employeetype_id')}"></p:ajax>
								</p:autoComplete>
							</p:panelGrid>
						</p:panelGrid>
						<p:panelGrid columns="3" columnClasses="p-col-12 p-md-1 , p-col-12 p-md-5 , p-col-12 p-md-2" layout="grid"
							styleClass="ui-panelgrid-blank ui-fluid">

							<p:outputLabel id="label_aadhaarphoto_id" value="#{employeeProps['employee.aadhaar.photo']}" for="@next"></p:outputLabel>
							<p:fileUpload id="input_aadhaarphoto_id" process="@this" label="Select" update="aadharimagedisplay" required="true"
								listener="#{employeeMasterController.handleAadhaarFileUpload}" mode="advanced" dragDropSupport="false" sizeLimit="300000"
								fileLimit="1" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />
							<p:outputPanel id="aadharimagedisplay">
								<p:outputPanel rendered="#{employeeMasterController.aadhaarImageContentsAsBase64 !=''}">
									<img src="data:image/png;base64,#{employeeMasterController.aadhaarImageContentsAsBase64}" style="height: 80%; width: 80%;" alt=""/>
								</p:outputPanel>
							</p:outputPanel>
							<p:outputLabel id="label_employeephoto_id" value="#{employeeProps['employee.photo']}" for="@next"></p:outputLabel>
							<p:fileUpload id="input_employeephoto_id" process="@this" label="Select" update="employeeimagedisplay"
								listener="#{employeeMasterController.handleEmployeeUpload}" mode="advanced" dragDropSupport="false" sizeLimit="300000" fileLimit="1"
								allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />
							<p:outputPanel id="employeeimagedisplay">
								<p:outputPanel rendered="#{employeeMasterController.employeeImageContentsAsBase64 !=''}">
									<img src="data:image/png;base64,#{employeeMasterController.employeeImageContentsAsBase64}" style="height: 80%; width: 80%;" alt="" />
								</p:outputPanel>
							</p:outputPanel>
						</p:panelGrid>
					</p:outputPanel>
				</div>
				<div align="right">
					<p:commandButton value="Submit" actionListener="#{employeeMasterController.saveOrUpdateEmployeeDetails}" process="@all"
						update="#{p.component('main_outputpanel_id')}"></p:commandButton>

				</div>
			</p:tab>
		</p:tabView>
	</ui:define>
</ui:composition>
