<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

	<ui:param name="empId" value="#{currentInstance.getLoginUserID()}"></ui:param>
	<ui:param name="parkable" value="#{updateIdList!=null and currentBeanState!=null and UIContainerForm!=null  and transactionField!=null }" />
	<h:inputHidden id="selectedStateId" value="#{storedDataBean.stateName}"></h:inputHidden>


	<p:commandLink onclick="PF('sessionUtilDash').show();return false;"	rendered="#{parkable==true}" id="parkingLinkId" ajax="false" async="true" process="@this"
		style="position:fixed;top:40%;right:2%;">
		<em class="fas fa-map-pin" style="font-size: 48px"/>
	</p:commandLink>
	<p:draggable for="parkingLinkId" opacity="0.3"/>


	<p:dialog header="My Space" id="sessionUtilDash" modal="true" closeOnEscape="true" widgetVar="sessionUtilDash" resizeable="false" focus="saveBtn">
		<p:panelGrid layout="grid" columns="2" columnClasses="p-col-12 p-md-6,p-col-12 p-md-6"	styleClass="ui-panelgrid-blank ui-fluid card">
			<p:commandLink id="saveBtn"	onclick="PF('sessionUtilDash').hide();PF('nameSelection').show();return false;" ajax="false" async="true" process="@this">
				<em class="fa fa-save" style="font-size: 35px"/>
				<p:tooltip for="saveBtn" value="Save curent state" trackMouse="true" />
			</p:commandLink>
			<p:commandLink id="restoreBtn" onclick="loadData();return false;" ajax="false" async="true" process="@this">
				<em class="fa fa-history" style="font-size: 35px"/>
				<p:tooltip for="restoreBtn" value="Restore from save state"	trackMouse="true" />
			</p:commandLink>
		</p:panelGrid>	
	</p:dialog>


	<p:dialog header="Add a note !" id="nameSelection" modal="true" closeOnEscape="true" focus="saveAsInp" widgetVar="nameSelection" resizeable="false">
		<p:panelGrid layout="grid" columns="2" columnClasses="p-col-12 p-md-6,p-col-12 p-md-6"	styleClass="ui-panelgrid-blank ui-fluid card">
			<p:outputLabel value="Note"/>
			<p:inputText id="saveAsInp" placeholder="Give a note..." value="#{storedDataBean.stateName}"/>
		</p:panelGrid>
		<p:panelGrid layout="grid" columns="2" columnClasses="p-col-12 p-md-6,p-col-12 p-md-6"	styleClass="ui-panelgrid-blank ui-fluid card">
			<p:commandButton id="idDataSave" value="Save" type="button"	icon="far fa-save" onclick="dataSaveRemtCommand();"/>					
			<p:commandButton value="Default" onclick="preSave(this,event,'');return false;"/>
			</p:panelGrid>
		<p:remoteCommand name="dataSaveRemtCommand"	onerror="stopAutoSave();alert('error');" oncomplete="PF('nameSelection').hide();clearStateName();"
			actionListener="#{storedDataBean.parkSession(empId,voucherCodeParam,currentBeanState,'')}" />						
	</p:dialog>

	<p:remoteCommand name="loadData" id="loadDataJs" actionListener="#{storedDataBean.loadStoredDataList(empId,voucherCodeParam)}"
		oncomplete="PF('sessionUtilDash').hide();PF('savedSessions').show();" async="true" update="parkedSessionList" process="@this">
	</p:remoteCommand>

	<p:dialog header="Saved Sessions" id="savedSessions" modal="true" closeOnEscape="true" widgetVar="savedSessions" resizeable="false">
		<p:dataList value="#{storedDataBean.storedData}" rowIndexVar="rowKey" type="ordered" var="pkObj" id="parkedSessionList">
			<p:commandLink id="stateremovelink"	onclick="removeState([{name:'removeState', value:'#{pkObj}'}]);return false;" process="@this">
				<em class="fa fa-times" style="font-size: 18px; color: red" />
				<p:tooltip for="stateremovelink" value="Remove state" trackMouse="true" />
			</p:commandLink>
			<p:commandLink value="#{pkObj}" id="staterestorelink" onclick="selectedValue(event.target.innerHTML);"
					oncomplete="PF('savedSessions').hide();PF('confirmSelection').show();return false;" process="@this">
				<p:tooltip for="staterestorelink" value="Click to Restore."	trackMouse="true"/>						 
			</p:commandLink>
		</p:dataList>
	</p:dialog>
	
	<p:dialog header="Override the current session..?" id="confirmSelection" modal="true" closeOnEscape="true" widgetVar="confirmSelection" closable="false" resizeable="false">
		<p:panelGrid layout="grid" columns="2" columnClasses="p-col-12 p-md-6,p-col-12 p-md-6"	styleClass="ui-panelgrid-blank ui-fluid card" id="resumeFromSave" >
			<p:commandLink	onclick="PF('confirmSelection').hide();resumeSession([{name:'selectedState', value:document.getElementById('content-form_id:selectedStateId').value}]);return false;" process="@this">
				<em class="fa fa-check-circle "	style="font-size: 35px; color: green"/>
			</p:commandLink>
			<p:commandLink id="ignoreSaveResumeImg"	onclick="PF('confirmSelection').hide();" process="@this">
				<em class="fa fa-times-circle " style="font-size: 35px; color: red"/>
			</p:commandLink>
		</p:panelGrid>		
	</p:dialog>


		<p:remoteCommand name="resumeSession" id="resumeSessionJS"	oncomplete="onResume(this,event);try{clearStateName();}catch(e){console.log(e);}"
			action="#{storedDataBean.resumeState(empId,voucherCodeParam,currentBeanState,selectedState,transactionField,restorationListener)}" process="@this">
		</p:remoteCommand>

		<p:remoteCommand name="clearStateName"	onbegin="try{document.getElementById('content-form_id:userUtilForm:saveAsInp').value=''}catch(e){console.log(e)}"
			action="#{storedDataBean.setStateName('')}" process="@this"></p:remoteCommand>

		<p:remoteCommand name="removeState"	action="#{storedDataBean.removeSelectedState(empId,voucherCodeParam,'')}"
			update="parkedSessionList" >
		</p:remoteCommand>
		
		<script>
		function selectedValue(idOfSelected) {
			alert(idOfSelected);
			document.getElementById('content-form_id:selectedStateId').value=idOfSelected;
			alert(document.getElementById('content-form_id:selectedStateId').value)
			
		}
		</script>


</ui:composition>
