<!DOCTYPE html>
<html lang="en" 
xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<h:head>
	<ui:include src="/pages/layout/header/header.xhtml"></ui:include>
	<title>#{loginProps['login.title']}</title>
</h:head>
<h:body class="login-body ">
	<div class="login-wrapper">
		<div class="login-panel">
			<a class="logo"><img id="logo_id" src="../../../resource/images/logo-dark.png" alt="ARS" width="150PX" /></a>
			<p:growl id="growl" showDetail="true" sticky="true" />
			<h:form>
				<div class="login-form">
					<p:focus for="login_username"></p:focus>
					<p:inputText id="login_username" value="#{loginBean.loginTO.userName}" required="true" placeholder="#{loginProps['login.name']}"
						maxlength="10" immediate="true" requiredMessage="User Name Required..">
						<p:ajax event="blur" process="@this"></p:ajax>
					</p:inputText>
					<p:password id="login_password" value="#{loginBean.loginTO.password}" required="true" placeholder="#{loginProps['login.password']}"
						maxlength="10" immediate="true" requiredMessage="Password Required..">
						<p:ajax event="blur" process="@this"></p:ajax>
					</p:password>
					<p:selectOneMenu id="login_branch" value="#{loginBean.branchMasterTO}" autoWidth="false" converter="#{branchConverter}">
						<f:selectItem itemLabel="#{loginProps['login.branch']}" noSelectionOption="true"></f:selectItem>
						<f:selectItems value="#{loginBean.branchMasterTOs}" var="branch" itemLabel="#{branch.branchName}" itemValue="#{branch}"></f:selectItems>
						<p:ajax event="valueChange" process="@this" update="@this"></p:ajax>
					</p:selectOneMenu>
					<p:commandButton value="Login" onclick="SubmitRC();return false;" validateClient="true"></p:commandButton>
					<p:remoteCommand name="SubmitRC" action="#{loginController.checkLoginDetails}" update="growl"></p:remoteCommand>
				</div>
			</h:form>
			<ui:include src="/pages/common/loader/loader.xhtml"></ui:include>
		</div>
		<div></div>
	</div>
</h:body>
</html>