<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	
	<p:panelGrid id="dc_collection_details_panel" columns="1" layout="grid" columnClasses="p-col-12 p-md-12" styleClass="ui-panelgrid-blank ui-fluid">
		<p:dataTable id="dc_collection_details_dattable" widgetVar="dc_collection_details_dattable" rows="10" paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                 currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords} records" rowsPerPageTemplate="5,10,20,30,50,{ShowAll|'All'}" paginator="true"
			value="#{dCCollectionBean.dcList}" rowIndexVar="indexVar" var="dclist" resizableColumns="true" selection="#{dCCollectionBean.selectedDCIds}" rowSelectMode="none"
			rowKey="#{dclist.id}" styleClass="ui-datatable ui-widget ui-datatable-scrollable ui-datatable-striped ui-datatable-sm ui-datatable-gridlines ">
			
			<p:ajax event="rowSelectCheckbox" listener="#{dCCollectionController.onRowSelect}" update="dc_collection_details_dattable"
				process="dc_collection_details_dattable" />
			<p:ajax event="rowUnselectCheckbox" listener="#{dCCollectionController.onRowUnSelect}" update="dc_collection_details_dattable"
				process="dc_collection_details_dattable" />
			<p:ajax event="rowSelect" listener="#{dCCollectionController.onRowSelect}" update="dc_collection_details_dattable"
				process="dc_collection_details_dattable" />
			<p:ajax event="rowUnselect" listener="#{dCCollectionController.onRowUnSelect}" update="dc_collection_details_dattable"
				process="dc_collection_details_dattable" />
			<p:ajax event="toggleSelect" listener="#{dCCollectionController.onAllRowsSelected}" update="dc_collection_details_dattable" />
			<p:column headerText="S.No" width="30">
				<p:outputLabel value="#{indexVar+1}"></p:outputLabel>
			</p:column>
			<p:column selectionMode="multiple" style="width:20px" styleClass="center" footerText="#{dCCollectionBean.selectedDCIds.size()}" />
			<p:column headerText="#{dcProps['billing.dc.no']}" styleClass="center" filterBy="#{dclist.dCNo}" filterMatchMode="contains">
				<p:outputLabel value="#{dclist.dCNo}"></p:outputLabel>
			</p:column>
			<p:column headerText="#{dcProps['billing.dc.from.party.name']}" styleClass="left" filterBy="#{dclist.fromCustomerName}" filterMatchMode="contains">
				<p:outputLabel value="#{dclist.fromCustomerName}"></p:outputLabel>
			</p:column>
			<p:column headerText="#{dcProps['billing.dc.from.party.city']}" styleClass="left" filterBy="#{dclist.fromCityName}" filterMatchMode="contains">
				<p:outputLabel value="#{dclist.fromCityName}"></p:outputLabel>
			</p:column>
			<p:column headerText="#{dcProps['billing.dc.to.party.name']}" styleClass="left" filterBy="#{dclist.toCustomerName}" filterMatchMode="contains">
				<p:outputLabel value="#{dclist.toCustomerName}"></p:outputLabel>
			</p:column>
			<p:column headerText="#{dcProps['billing.dc.to.party.city']}" styleClass="left" filterBy="#{dclist.toCityName}" filterMatchMode="contains">
				<p:outputLabel value="#{dclist.toCityName}"></p:outputLabel>
			</p:column>
			<p:column headerText="#{dcProps['billing.dc.item.name']}" styleClass="left" filterBy="#{dclist.itemNames}" filterMatchMode="contains">
				<p:outputLabel value="#{dclist.itemNames}" styleClass="wrap-text"></p:outputLabel>
			</p:column>
			<p:column headerText="#{dcProps['billing.dc.item.qty']}" styleClass="right" filterBy="#{dclist.totalNoOfQty}" filterMatchMode="contains">
				<p:outputLabel value="#{dclist.totalNoOfQty}"></p:outputLabel>
			</p:column>
			<p:column headerText="Net Amount" styleClass="right" filterBy="#{dclist.netAmount}" filterMatchMode="contains">
				<p:outputLabel id="netamount" value="#{dclist.netAmount}">
					<f:convertNumber currencySymbol="" type="currency" />
				</p:outputLabel>
			</p:column>
			<p:column headerText="Delivery Status" filterBy="#{dCCollectionController.getDeliveryStatus(dclist.isDelivered())}" filterMatchMode="equals">
				<f:facet name="filter">
					<p:selectOneButton onchange="PF('dc_collection_details_dattable').filter()" styleClass="custom-filter">
						<f:selectItem itemLabel="All" itemValue="" />
						<f:selectItems value="#{dCTransferController.getPaymentStatus()}" />
					</p:selectOneButton>
				</f:facet>
				<p:outputLabel id="deliverystatus" value="#{dCCollectionController.getDeliveryStatus(dclist.isDelivered())}"
					styleClass="#{dclist.isDelivered()?'green':'red'}"></p:outputLabel>
			</p:column>
			<p:column headerText="Payment Status" filterBy="#{dCCollectionController.getPaymentStatus(dclist.isPaymentRecevied())}" filterMatchMode="equals">
				<f:facet name="filter">
					<p:selectOneButton onchange="PF('dc_collection_details_dattable').filter()" styleClass="custom-filter">
						<f:selectItem itemLabel="All" itemValue="" />
						<f:selectItems value="#{dCTransferController.getDeliveryStatus()}" />
					</p:selectOneButton>
				</f:facet>
				<p:outputLabel id="paymentstatus" value="#{dCCollectionController.getPaymentStatus(dclist.isPaymentRecevied())}"
					styleClass="#{dclist.isPaymentRecevied()?'green':'red'}"></p:outputLabel>
			</p:column>
			<p:column id="column_receviedamount" headerText="Recevied Amount" styleClass="right" filterBy="#{dclist.receivedAmount}" filterMatchMode="contains"
				footerText="#{dCCollectionController.calculateTotalCollectionAmount()}">
				<p:inputNumber id="receviedamount" value="#{dclist.receivedAmount}" maxValue="#{dclist.netAmount}" onfocus="select();" decimalPlaces="0"
					disabled="#{dclist.isPaymentRecevied()}" modifyValueOnWheel="false" emptyValue="0">
				</p:inputNumber>
			</p:column>
		</p:dataTable>
	</p:panelGrid>
</ui:composition>