<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

	<p:panelGrid id="allocatedpanel" columns="5" layout="grid" columnClasses="p-col-12 p-md-1,p-col-12 p-md-4,p-col-12 p-md-1,p-col-12 p-md-3,p-col-12 p-md-3"
		styleClass="ui-panelgrid-blank ui-fluid">
		<p:outputLabel id="label_driver_id" value="Driver Name" for="@next"></p:outputLabel>
		<p:selectOneMenu id="input_drivername_id" required="true" value="#{dCAllocationBean.selectedDriverId}">
			<f:selectItem itemLabel="--Select Driver Name--" itemValue="0" noSelectionOption="true" />
			<f:selectItems value="#{employeeMasterController.getAllDriver()}" />
			<p:ajax event="itemSelect" process="@this" update="@this"></p:ajax>
		</p:selectOneMenu>
		<p:outputLabel id="label_vehicle_id" value="Vehicle NO" for="@next"></p:outputLabel>
		<p:selectOneMenu id="input_vehicleNo_id" required="true" value="#{dCAllocationBean.selectedVehicleId}">
			<f:selectItem itemLabel="--Select Vehicle No--" itemValue="0" noSelectionOption="true" />
			<f:selectItems value="#{vehicleMasterController.getAllVehicle()}" />
			<p:ajax event="itemSelect" process="@this" update="@this"></p:ajax>
		</p:selectOneMenu>
		<p:inputNumber id="input_dcno_id" value="#{dCAllocationBean.scanDCId}" onfocus="select()" emptyValue="0">
			<p:ajax listener="#{dCAllocationController.onDcScan}" process="@this" update="@this #{p.component('dc_collection_details_panel')}"></p:ajax>
		</p:inputNumber>
	</p:panelGrid>
	<ui:include src="/pages/billing/report/_dclist.xhtml">
		<ui:param name="bean" value="#{dCAllocationBean}"></ui:param>
		<ui:param name="controller" value="#{dCAllocationController}"></ui:param>
		<ui:param name="isRendered" value="true"></ui:param>
	</ui:include>
	
	<div class="align-right">
		<p:commandButton value="Submit" onclick="submitRemtCommand();" type="button" />
		<p:remoteCommand name="submitRemtCommand" actionListener="#{dCAllocationController.saveDCAllocation}"
			update="#{p.component('allocatedcitypanel allocatedpanel dc_allocated_details_dattable')}" />
	</div>

</ui:composition>
