<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<p:panelGrid id="dc_collection_details_panel" columns="1" layout="grid" columnClasses="p-col-12 p-md-12" styleClass="ui-panelgrid-blank ui-fluid">
	
		<p:dataTable id="dc_allocated_details_dattable" rows="20" currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords} records"
		
			rowsPerPageTemplate="5,10,15,20,30,50,{ShowAll|'All'}" paginator="true" paginatorPosition="bottom" value="#{bean.dcList}" rowIndexVar="indexVar"
			var="dclist" resizableColumns="true" selection="#{bean.selectedDCIds}" rowKey="#{dclist.id}" size="small"
			rowSelectMode="none" selectionPageOnly="false"
			styleClass="ui-datatable ui-widget ui-datatable-scrollable ui-datatable-striped ui-datatable-sm ui-datatable-gridlines">
			
		 	<p:ajax event="rowSelectCheckbox" listener="#{controller.onRowSelect}" update="dc_allocated_details_dattable"
				process="dc_allocated_details_dattable" />
			<p:ajax event="rowUnselectCheckbox" listener="#{controller.onRowUnSelect}" update="dc_allocated_details_dattable"
				process="dc_allocated_details_dattable" />
			<p:ajax event="rowSelect" listener="#{controller.onRowSelect}" update="dc_allocated_details_dattable"
				process="dc_allocated_details_dattable" />
			<p:ajax event="rowUnselect" listener="#{controller.onRowUnSelect}" update="dc_allocated_details_dattable"
				process="dc_allocated_details_dattable" />
			<p:ajax event="toggleSelect" listener="#{controller.onAllRowsSelected}" update="dc_allocated_details_dattable" process="dc_allocated_details_dattable"/>
				
			
			<p:column headerText="S.Noa" width="30">
				<p:outputLabel value="#{indexVar+1}"></p:outputLabel>
			</p:column>
			<p:column selectionMode="multiple" style="width:16px;text-align:center" footerText="#{bean.selectedDCIds.size()}"/>
			<p:column headerText="#{dcProps['billing.dc.no']}" styleClass="center" filterBy="#{dclist.dCNo}" filterMatchMode="contains">
				<p:outputLabel value="#{dclist.dCNo}"></p:outputLabel>
			</p:column>
			<p:column headerText="Driver Name" styleClass="center" filterBy="#{dclist.allocatedDriverName}" filterMatchMode="contains">
				<p:outputLabel value="#{dclist.allocatedDriverName}"></p:outputLabel>
			</p:column>
			<p:column headerText="#{loginProps['login.branch']}" styleClass="center" filterBy="#{dclist.branchName}" filterMatchMode="contains">
				<p:outputLabel value="#{dclist.branchName}"></p:outputLabel>
			</p:column>
			<p:column headerText="#{dcProps['billing.dc.from.party.name']}" styleClass="left" filterBy="#{dclist.fromCustomerName}" filterMatchMode="contains">
				<p:outputLabel value="#{dclist.fromCustomerName}"></p:outputLabel>
			</p:column>
			<p:column headerText="#{dcProps['billing.dc.from.party.city']}" styleClass="left" filterBy="#{dclist.fromCityName}" filterMatchMode="contains">
				<p:outputLabel value="#{dclist.fromCityName}"></p:outputLabel>
			</p:column>
			<p:column headerText="#{dcProps['billing.dc.to.party.name']}" styleClass="left" filterBy="#{dclist.toCustomerName}" filterMatchMode="contains">
				<p:outputLabel value="#{dclist.toCustomerName}"></p:outputLabel>
			</p:column>
			<p:column headerText="#{dcProps['billing.dc.to.party.city']}" styleClass="left" filterBy="#{dclist.toCityName}" filterMatchMode="contains">
				<p:outputLabel value="#{dclist.toCityName}"></p:outputLabel>
			</p:column>
			<p:column headerText="#{dcProps['billing.dc.item.name']}" styleClass="left" filterBy="#{dclist.itemNames}" filterMatchMode="contains">
				<p:outputLabel value="#{dclist.itemNames}" styleClass="wrap-text"></p:outputLabel>
			</p:column>
			<p:column headerText="#{dcProps['billing.dc.item.qty']}" styleClass="right" filterBy="#{dclist.totalNoOfQty}" filterMatchMode="contains">
				<p:outputLabel value="#{dclist.totalNoOfQty}"></p:outputLabel>
			</p:column>
			<p:column headerText="#{dcProps['billing.dc.office.item.title']}" sortBy="#{dclist.officeDelivery}" rendered="#{isRendered}">
				<p:selectBooleanCheckbox value="#{dclist.officeDelivery}" >
						<p:ajax event="change" listener="#{controller.isOfficeItem(dclist)}" update="branchselectiton" process="@this"></p:ajax>
				</p:selectBooleanCheckbox>
			</p:column>
			
			<p:column headerText="Office" sortBy="#{dclist.officeId}" rendered="#{isRendered}">
				<p:selectOneMenu id="branchselectiton" value="#{dclist.officeId}" disabled="#{!dclist.officeDelivery}">
					<f:selectItem itemLabel="--Select--" itemValue="0" noSelectionOption="true" />
					<f:selectItems value="#{branchController.getAllBranchMasterDetails()}" />
				</p:selectOneMenu>
			</p:column>
			
			<p:column headerText="Amount" styleClass="right" filterBy="#{dclist.amount}">
				<p:inputNumber value="#{dclist.amount}" disabled="#{!(controller.checkPaymentMode(dclist.modeOfPayment))}" rendered="#{isRendered}" modifyValueOnWheel="false">
					<p:ajax event="change" listener="#{controller.calculateAmount(dclist)}" update="netamount"></p:ajax>
				</p:inputNumber>
				<p:outputLabel value="#{dclist.amount}" rendered="#{!isRendered}"></p:outputLabel>
			</p:column>
			<p:column headerText="Other Charges Details" styleClass="left wrap-text" filterBy="#{dclist.otherChargesDetails}" filterMatchMode="contains">
				<p:outputLabel value="#{dclist.otherChargesDetails}"></p:outputLabel>
			</p:column>
			<p:column headerText="Other Charges " styleClass="right" filterBy="#{dclist.otherChargesAmount}" filterMatchMode="contains">
				<p:outputLabel value="#{dclist.otherChargesAmount}">
					<f:convertNumber currencySymbol="" type="currency" />
				</p:outputLabel>
			</p:column>
			<p:column headerText="Net Amount" styleClass="right" filterBy="#{dclist.netAmount}" filterMatchMode="contains">
				<p:outputLabel id="netamount" value="#{dclist.netAmount}">
					<f:convertNumber currencySymbol="" type="currency" />
				</p:outputLabel>
			</p:column>
		</p:dataTable>
	</p:panelGrid>
</ui:composition>
	