<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

				<p:panelGrid id="masterreportcitypanel" columns="4" layout="grid" columnClasses="p-col-12 p-md-1,p-col-12 p-md-3,p-col-12 p-md-1,p-col-12 p-md-3"
					styleClass="ui-panelgrid-blank ui-fluid">

					<p:outputLabel id="label_from_dcdate_id" value="From Date" for="@next"></p:outputLabel>
					<p:calendar id="input_from_dcdate_id" value="#{bean.fromDate}" pattern="dd/MM/yyyy">
						<p:ajax event="dateSelect" process="@this" update="@this"></p:ajax>
					</p:calendar>

					<p:outputLabel id="label_to_dcdate_id" value="To Date" for="@next"></p:outputLabel>
					<p:calendar id="input_to_dcdate_id" value="#{bean.toDate}" pattern="dd/MM/yyyy">
						<p:ajax event="dateSelect" process="@this" update="@this"></p:ajax>
					</p:calendar>

					<p:outputLabel id="label_customernameupdate_id"	value="#{customerProps['customer.name']}" for="@next"></p:outputLabel>
					<p:autoComplete id="input_customernameupdate_id" value="#{bean.customerMaster}" var="customer" converter="#{customerMasterConverter}"
						completeMethod="#{controller.customerNameSuggestion}" emptyMessage="No Customer Found..!" forceSelection="true" scrollHeight="250" 
						itemLabel="#{customer.customerName}" itemValue="#{customer}">
						<p:ajax event="itemSelect" process="@this" update="@this"></p:ajax>
					</p:autoComplete>

					<p:outputLabel id="label_city_id" value="#{customerProps['customer.city']}" for="@next"></p:outputLabel>
					<p:selectOneMenu id="inputcitymasterreport" value="#{bean.cityMasterId}" label="Cities" >
						<f:selectItem itemLabel="--Select--" itemValue="0" noSelectionOption="true" />
						<f:selectItems value="#{cityMasterController.getAllCityMasterDetails()}" />
					</p:selectOneMenu>
					
					<p:outputLabel id="label_driver_id" value="Driver Name" for="@next"></p:outputLabel>
					<p:selectOneMenu id="input_drivername_id" value="#{bean.driverId}">
						<f:selectItem itemLabel="--Select--" itemValue="0" noSelectionOption="true" />
						<f:selectItems value="#{employeeMasterController.getAllDriver()}" />
						<p:ajax event="itemSelect" process="@this" update="@this"></p:ajax>
					</p:selectOneMenu>
				</p:panelGrid>
				
</ui:composition>
