<ui:composition template="/pages/layout/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

	<ui:define name="title">
		#{dcProps['billing.dc.allocation.title']}
	</ui:define>

	<ui:define name="content">
		<p:tabView id="dcallocation_tabview_id" widgetVar="dcallocation_tabview_id">
			<p:tab id="dc_allocation_tab_id" title="#{dcProps['billing.dc.allocation.tab.title']}">
				<p:panelGrid id="allocatedcitypanel" columns="2" layout="grid" columnClasses="p-col-12 p-md-1,p-col-12 p-md-11"
					styleClass="ui-panelgrid-blank ui-fluid">
					<p:outputLabel id="label_city_id" value="#{customerProps['customer.city']}" for="@next"></p:outputLabel>
					<p:selectCheckboxMenu id="inputcityallocated" value="#{dCAllocationBean.cityIds}" label="Cities" multiple="true" filter="true"
						filterMatchMode="startsWith" required="true">
						<f:selectItems value="#{cityMasterController.getAllCityMasterDetails()}" />
					</p:selectCheckboxMenu>
					
				</p:panelGrid>
				<p:panelGrid id="cityanddatepanel" columns="4" layout="grid"
					columnClasses="p-col-12 p-md-1,p-col-12 p-md-4,p-col-12 p-md-1,p-col-12 p-md-4" styleClass="ui-panelgrid-blank ui-fluid">
					<p:outputLabel id="label_branch_id" value="#{loginProps['login.branch']}" for="@next"></p:outputLabel>
					<p:selectCheckboxMenu id="inputbranchallocated" value="#{dCAllocationBean.branchIds}" label="Branch" multiple="true" filter="true"
						filterMatchMode="startsWith" required="true">
						<f:selectItems value="#{branchController.getAllBranchMasterDetails()}" />
					</p:selectCheckboxMenu>
					<p:outputLabel id="label_dcdate_id" value="#{dcProps['billing.dc.date']}" for="@next"></p:outputLabel>
					<p:calendar id="input_dcdate_id" value="#{dCAllocationBean.selectedDCDate}" maxdate="#{dateUtil.getCurrentDate()}" pattern="dd/MM/yyyy"
						required="true">
						<p:ajax event="dateSelect" process="@this" update="@this"></p:ajax>
					</p:calendar>
				</p:panelGrid>
				<div class="align-right">
					<p:commandButton value="Search" onclick="searchRemtCommand()" type="button" process="@this" />
					<p:remoteCommand name="searchRemtCommand" actionListener="#{dCAllocationController.getDCList()}" process="#{p.component('dc_allocation_tab_id')}"
						update="#{p.component('dc_allocated_details_dattable')}" onsuccess="PF('dcallocation_tabview_id').select(1)"/>
				</div>
			</p:tab>
			<p:tab id="dc_details_tab_id" title="DC Details">
			<ui:include src="/pages/billing/report/_dcdetailslist.xhtml"></ui:include>
			</p:tab>
		</p:tabView>
	</ui:define>
</ui:composition>
