<ui:composition template="/pages/layout/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

	<ui:define name="title">
		#{dcProps['billing.dc.collection.title']}
	</ui:define>

	<ui:define name="content">
		<p:tabView id="dccollection_tabview_id">
			<p:tab id="dc_collection_tab_id" title="#{dcProps['billing.dc.collection.tab.title']}">
				<p:panelGrid id="collectiondpanel" columns="4" layout="grid"
					columnClasses="p-col-12 p-md-1,p-col-12 p-md-4,p-col-12 p-md-1,p-col-12 p-md-4" styleClass="ui-panelgrid-blank ui-fluid">
					<p:outputLabel id="label_driver_id" value="Driver Name" for="@next"></p:outputLabel>
					<p:selectOneMenu id="input_drivername_id" value="#{dCCollectionBean.selectedDriverId}">
						<f:selectItem itemLabel="--Select Driver Name--" itemValue="0" noSelectionOption="true" />
						<f:selectItems value="#{employeeMasterController.getAllDriver()}" />
						<f:selectItem itemLabel="Office" itemValue="Office" />
						<p:ajax event="itemSelect" listener="#{dCCollectionController.getDCList}" process="@this"
							update="@this #{p.component('dc_collection_details_dattable')}"></p:ajax>
					</p:selectOneMenu>
					<p:outputLabel id="dc_id" value="ID" for="@next"></p:outputLabel>
					<p:inputNumber id="input_dcno_id"	value="#{dCCollectionBean.scanDCId}" onfocus="select()" emptyValue="0">
						<p:ajax listener="#{dCCollectionController.onDcScan}" process="@this" update="@this #{p.component('dc_collection_details_dattable')}"></p:ajax>
					</p:inputNumber>
				</p:panelGrid>
				<ui:include src="/pages/billing/report/_allocatedcdetailslist.xhtml"></ui:include>
				<div class="align-right">

					<p:commandButton value="Submit" onclick="submitRemtCommand();" type="button" />
					<p:remoteCommand name="submitRemtCommand" actionListener="#{dCCollectionController.saveDCCollectionDetails}"
						update="#{p.component('collectiondpanel dc_collection_details_panel')}" />
				</div>
			</p:tab>
		</p:tabView>
	</ui:define>
</ui:composition>
