<ui:composition template="/pages/layout/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

	<ui:define name="title">
		#{dcProps['billing.dc.transfer.title']}
	</ui:define>

	<ui:define name="content">
		<p:tabView id="dctransfer_tabview_id">
			<p:tab id="dc_transfer_tab_id" title="#{dcProps['billing.dc.transfer.tab.title']}">
				<p:panelGrid id="transferdpanel" columns="4" layout="grid"
					columnClasses="p-col-12 p-md-1,p-col-12 p-md-4,p-col-12 p-md-1,p-col-12 p-md-4" styleClass="ui-panelgrid-blank ui-fluid">
					<p:outputLabel id="label_driver_id" value="Driver Name" for="@next"></p:outputLabel>
					<p:selectOneMenu id="input_drivername_id" value="#{dCTransferBean.selectedDriverId}">
						<f:selectItem itemLabel="--Select Driver Name--" itemValue="0" noSelectionOption="true" />
						<f:selectItems value="#{employeeMasterController.getAllDriver()}" />
						<p:ajax event="itemSelect" listener="#{dCTransferController.getDCList}" process="@this"
							update="@this #{p.component('dc_transfer_details_dattable')}"></p:ajax>
					</p:selectOneMenu>
					<p:outputLabel id="label_transferdriver_id" value="Transfer Driver Name" for="@next"></p:outputLabel>
					<p:selectOneMenu id="input_transferdrivername_id" value="#{dCTransferBean.transferDriverId}">
						<f:selectItem itemLabel="--Select Transfer Driver Name--" itemValue="0" noSelectionOption="true" />
						<f:selectItems value="#{employeeMasterController.getAllDriver()}" />
						<p:ajax event="itemSelect" process="@this" update="@this"></p:ajax>
					</p:selectOneMenu>
				</p:panelGrid>
				<p:panelGrid id="dc_transfer_details_panel" columns="1" layout="grid" columnClasses="p-col-12 p-md-12"
					styleClass="ui-panelgrid-blank ui-fluid">
					<p:dataTable id="dc_transfer_details_dattable" widgetVar="dc_transfer_details_dattable" rows="10"
						paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                 		currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords} records" 
                 		rowsPerPageTemplate="5,10,20,25,30,#{dCTransferBean.dcList.size()}" 
						paginator="true" value="#{dCTransferBean.dcList}" rowIndexVar="indexVar" var="dclist" resizableColumns="true"
						selection="#{dCTransferBean.selectedDCIds}" rowKey="#{dclist.id}"
						styleClass="ui-datatable ui-widget ui-datatable-scrollable ui-datatable-striped ui-datatable-sm ui-datatable-gridlines ">
						<p:column headerText="S.No" width="30">
							<p:outputLabel value="#{indexVar+1}"></p:outputLabel>
						</p:column>
						<p:column selectionMode="multiple" style="width:16px;text-align:center" />
						<p:column headerText="#{dcProps['billing.dc.no']}" styleClass="center" filterBy="#{dclist.dCNo}" filterMatchMode="contains">
							<p:outputLabel value="#{dclist.dCNo}"></p:outputLabel>
						</p:column>
						<p:column headerText="#{dcProps['billing.dc.from.party.name']}" styleClass="left" filterBy="#{dclist.fromCustomerName}"
							filterMatchMode="contains">
							<p:outputLabel value="#{dclist.fromCustomerName}"></p:outputLabel>
						</p:column>
						<p:column headerText="#{dcProps['billing.dc.from.party.city']}" styleClass="left" filterBy="#{dclist.fromCityName}"
							filterMatchMode="contains">
							<p:outputLabel value="#{dclist.fromCityName}"></p:outputLabel>
						</p:column>
						<p:column headerText="#{dcProps['billing.dc.to.party.name']}" styleClass="left" filterBy="#{dclist.toCustomerName}"
							filterMatchMode="contains">
							<p:outputLabel value="#{dclist.toCustomerName}"></p:outputLabel>
						</p:column>
						<p:column headerText="#{dcProps['billing.dc.to.party.city']}" styleClass="left" filterBy="#{dclist.toCityName}"
							filterMatchMode="contains">
							<p:outputLabel value="#{dclist.toCityName}"></p:outputLabel>
						</p:column>
						<p:column headerText="#{dcProps['billing.dc.item.name']}" styleClass="left" filterBy="#{dclist.itemNames}" filterMatchMode="contains">
							<p:outputLabel value="#{dclist.itemNames}" styleClass="wrap-text"></p:outputLabel>
						</p:column>
						<p:column headerText="#{dcProps['billing.dc.item.qty']}" styleClass="right" filterBy="#{dclist.totalNoOfQty}"
							filterMatchMode="contains">
							<p:outputLabel value="#{dclist.totalNoOfQty}"></p:outputLabel>
						</p:column>
						<p:column headerText="Net Amount" styleClass="right" filterBy="#{dclist.netAmount}" filterMatchMode="contains">
							<p:outputLabel id="netamount" value="#{dclist.netAmount}">
								<f:convertNumber currencySymbol="" type="currency" />
							</p:outputLabel>
						</p:column>
						<p:column headerText="Delivery Status">
							<f:facet name="filter">
								<p:selectOneButton onchange="PF('dc_transfer_details_dattable').filter()" styleClass="custom-filter">
									<f:selectItem itemLabel="All" itemValue="" />
									<f:selectItems value="#{dCTransferController.getPaymentStatus()}" />
								</p:selectOneButton>
							</f:facet>
							<p:outputLabel id="deliverystatus" value="#{dCTransferController.getDeliveryStatus(dclist.isDelivered())}"></p:outputLabel>
						</p:column>
						<p:column headerText="Payment Status">
							<f:facet name="filter">
								<p:selectOneButton onchange="PF('dc_transfer_details_dattable').filter()" styleClass="custom-filter">
									<f:selectItem itemLabel="All" itemValue="" />
									<f:selectItems value="#{dCTransferController.getDeliveryStatus()}" />
								</p:selectOneButton>
							</f:facet>
							<p:outputLabel id="paymentstatus" value="#{dCTransferController.getPaymentStatus(dclist.isPaymentRecevied())}"></p:outputLabel>
						</p:column>

					</p:dataTable>

				</p:panelGrid>
				<div class="align-right">

					<p:commandButton value="Submit" onclick="submitRemtCommand();" type="button" />
					<p:remoteCommand name="submitRemtCommand" actionListener="#{dCTransferController.saveDCTransfer}"
						update="#{p.component('transferdpanel dc_transfer_details_panel')}" />
				</div>
			</p:tab>
		</p:tabView>
	</ui:define>
</ui:composition>
